    /*
    Flaticon icon font: Flaticon
    Creation date: 05/08/2016 02:38
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-2:before { content: "\f104"; }
.flaticon-art:before { content: "\f105"; }
.flaticon-bookmark:before { content: "\f106"; }
.flaticon-can:before { content: "\f107"; }
.flaticon-check:before { content: "\f108"; }
.flaticon-close:before { content: "\f109"; }
.flaticon-cross:before { content: "\f10a"; }
.flaticon-delete:before { content: "\f10b"; }
.flaticon-draw:before { content: "\f10c"; }
.flaticon-favorite:before { content: "\f10d"; }
.flaticon-favorite-1:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-internet:before { content: "\f110"; }
.flaticon-letter:before { content: "\f111"; }
.flaticon-like:before { content: "\f112"; }
.flaticon-link:before { content: "\f113"; }
.flaticon-location:before { content: "\f114"; }
.flaticon-multimedia:before { content: "\f115"; }
.flaticon-placeholder:before { content: "\f116"; }
.flaticon-save:before { content: "\f117"; }
.flaticon-save-disk:before { content: "\f118"; }
.flaticon-search:before { content: "\f119"; }
.flaticon-search-1:before { content: "\f11a"; }
.flaticon-shapes:before { content: "\f11b"; }
.flaticon-shapes-1:before { content: "\f11c"; }
.flaticon-social:before { content: "\f11d"; }
.flaticon-social-1:before { content: "\f11e"; }
.flaticon-social-2:before { content: "\f11f"; }
.flaticon-symbol:before { content: "\f120"; }
.flaticon-tool:before { content: "\f121"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-arrows-1: "\f103";
    $font-Flaticon-arrows-2: "\f104";
    $font-Flaticon-art: "\f105";
    $font-Flaticon-bookmark: "\f106";
    $font-Flaticon-can: "\f107";
    $font-Flaticon-check: "\f108";
    $font-Flaticon-close: "\f109";
    $font-Flaticon-cross: "\f10a";
    $font-Flaticon-delete: "\f10b";
    $font-Flaticon-draw: "\f10c";
    $font-Flaticon-favorite: "\f10d";
    $font-Flaticon-favorite-1: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-internet: "\f110";
    $font-Flaticon-letter: "\f111";
    $font-Flaticon-like: "\f112";
    $font-Flaticon-link: "\f113";
    $font-Flaticon-location: "\f114";
    $font-Flaticon-multimedia: "\f115";
    $font-Flaticon-placeholder: "\f116";
    $font-Flaticon-save: "\f117";
    $font-Flaticon-save-disk: "\f118";
    $font-Flaticon-search: "\f119";
    $font-Flaticon-search-1: "\f11a";
    $font-Flaticon-shapes: "\f11b";
    $font-Flaticon-shapes-1: "\f11c";
    $font-Flaticon-social: "\f11d";
    $font-Flaticon-social-1: "\f11e";
    $font-Flaticon-social-2: "\f11f";
    $font-Flaticon-symbol: "\f120";
    $font-Flaticon-tool: "\f121";