    /*
    Flaticon icon font: Flaticon
    Creation date: 26/06/2016 23:20
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-arrows-2:before { content: "\f103"; }
.flaticon-art:before { content: "\f104"; }
.flaticon-check:before { content: "\f105"; }
.flaticon-close:before { content: "\f106"; }
.flaticon-delete:before { content: "\f107"; }
.flaticon-delete-1:before { content: "\f108"; }
.flaticon-direction:before { content: "\f109"; }
.flaticon-draw:before { content: "\f10a"; }
.flaticon-favorite:before { content: "\f10b"; }
.flaticon-favorite-1:before { content: "\f10c"; }
.flaticon-favorite-2:before { content: "\f10d"; }
.flaticon-forbidden:before { content: "\f10e"; }
.flaticon-interface:before { content: "\f10f"; }
.flaticon-interface-1:before { content: "\f110"; }
.flaticon-interface-2:before { content: "\f111"; }
.flaticon-internet:before { content: "\f112"; }
.flaticon-link:before { content: "\f113"; }
.flaticon-link-1:before { content: "\f114"; }
.flaticon-location:before { content: "\f115"; }
.flaticon-location-1:before { content: "\f116"; }
.flaticon-location-2:before { content: "\f117"; }
.flaticon-nature:before { content: "\f118"; }
.flaticon-pin:before { content: "\f119"; }
.flaticon-placeholder:before { content: "\f11a"; }
.flaticon-play:before { content: "\f11b"; }
.flaticon-road:before { content: "\f11c"; }
.flaticon-road-1:before { content: "\f11d"; }
.flaticon-search:before { content: "\f11e"; }
.flaticon-social:before { content: "\f11f"; }
.flaticon-social-1:before { content: "\f120"; }
.flaticon-social-2:before { content: "\f121"; }
.flaticon-squares:before { content: "\f122"; }
.flaticon-symbol:before { content: "\f123"; }
.flaticon-tool:before { content: "\f124"; }
.flaticon-tool-1:before { content: "\f125"; }
.flaticon-vimeo:before { content: "\f126"; }
.flaticon-vimeo-1:before { content: "\f127"; }
    
    $font-Flaticon-arrow: "\f100";
    $font-Flaticon-arrows: "\f101";
    $font-Flaticon-arrows-1: "\f102";
    $font-Flaticon-arrows-2: "\f103";
    $font-Flaticon-art: "\f104";
    $font-Flaticon-check: "\f105";
    $font-Flaticon-close: "\f106";
    $font-Flaticon-delete: "\f107";
    $font-Flaticon-delete-1: "\f108";
    $font-Flaticon-direction: "\f109";
    $font-Flaticon-draw: "\f10a";
    $font-Flaticon-favorite: "\f10b";
    $font-Flaticon-favorite-1: "\f10c";
    $font-Flaticon-favorite-2: "\f10d";
    $font-Flaticon-forbidden: "\f10e";
    $font-Flaticon-interface: "\f10f";
    $font-Flaticon-interface-1: "\f110";
    $font-Flaticon-interface-2: "\f111";
    $font-Flaticon-internet: "\f112";
    $font-Flaticon-link: "\f113";
    $font-Flaticon-link-1: "\f114";
    $font-Flaticon-location: "\f115";
    $font-Flaticon-location-1: "\f116";
    $font-Flaticon-location-2: "\f117";
    $font-Flaticon-nature: "\f118";
    $font-Flaticon-pin: "\f119";
    $font-Flaticon-placeholder: "\f11a";
    $font-Flaticon-play: "\f11b";
    $font-Flaticon-road: "\f11c";
    $font-Flaticon-road-1: "\f11d";
    $font-Flaticon-search: "\f11e";
    $font-Flaticon-social: "\f11f";
    $font-Flaticon-social-1: "\f120";
    $font-Flaticon-social-2: "\f121";
    $font-Flaticon-squares: "\f122";
    $font-Flaticon-symbol: "\f123";
    $font-Flaticon-tool: "\f124";
    $font-Flaticon-tool-1: "\f125";
    $font-Flaticon-vimeo: "\f126";
    $font-Flaticon-vimeo-1: "\f127";