
body {
	overflow-x:hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a, input, div {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
   width: 100%;
}

/******************************************************************
	Creation controls
******************************************************************/

#content-tools {
	position: absolute;
	width: 100px;
	top: 200px;
	z-index: 1000;
	margin-left: 10px;
}

#content-tools a {
	width: 100%;
}

#toggle-text-size {}

#add-picture-btn {
  position: relative;
}

#image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#add-location {}
#add-other-media {}
#add-advert-placeholder {}

#floating-new-location-section-button {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: #565656;
	border-radius: 20px;
	color: #e6e6e6;
	border: none;
	opacity: .8;
}

#floating-new-location-section-button .glyph-icon {
	padding: 5px 4px;
}

/******************************************************************
	Content types
******************************************************************/

#story-content {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

#story-content h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	min-height: 32px;
}

.text-title-size {
	font-size: 35px !important;
}

.location-banner {
	display: inline-block;
	border: 1px solid #ccc;
	min-width: 300px;
	height: 40px;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 200px;
}

.location-banner .location-icon {
	float: left;
  padding: 3px 7px;
	color: #ccc;
}

.location-name {
	float: left;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 8px 2px;
	width: 250px;
	cursor: pointer;
}

.location-section .popover {
	max-width: inherit;
	width: 460px;
	padding: 0;
	border: 0;
	background-color: #333;
	border-radius: 20px;
}

.location-section .popover-content {
	padding: 30px;
}

.location-section .popover > .arrow:after {
	border-bottom-color: #333;
}

.map-container {
	position: relative;
}

.map-canvas {
	height: 400px;
	width: 400px;
}

.map-canvas img {
	max-width: inherit; /* this is a fixer for smth*/
}

.pac-container {
  z-index: 2000 !important;;
}

.map-controls {
	position: absolute;
	top: 7px;
  right: 10px;
}

.location-search-box {
	margin-right: 10px;
  margin-top: 10px;
  width: 300px;
  font-size: 14px;
}

.delete-location {
	padding: 8px 12px !important;
}

.cancel-location {
	color: #555;
	margin-right: 5px;
}

.confirm-location {
	color: #fff;
}

.map-sight {
	position: absolute;
  background-color: #333;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1100;
  pointer-events: none;
}

.section:after {
	display: inline-block;
	content: "...";
	width: 100%;
	font-size: 32px;
	font-family:  Georgia, "Times New Roman", Times, serif;
	color: #ccc;
	text-align: center;
}

#title {
	margin-left: 60px;
}

.story-text {
	width: 60%;
  margin: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	min-height: 32px;
}

.story-text:only-child:empty::before {
	content:"your text here";
	color: #ccc;
	font-style: italic;
}

.picture-container.onfocus img , .picture-container:hover img{
	outline: 3px solid #dad
}

.picture-container.onfocus .picture-controls, .picture-container:hover .picture-controls {
	display: block;
}

.picture-frame {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.picture-frame img {
	width: 100%;
}

.picture-frame[position=right] {
	margin: 20px;
	margin-right: 10%;
	width: 30%;
	float: right;
}

.picture-frame[position=center] {
	width: 60%;
	margin: auto;
}

.picture-frame[position=left] {
	margin: 20px;
	margin-left: 10%;
	width: 30%;
	float: left;
}

.picture-frame[position=cover] {
	width: 100%;
}

.picture-controls {
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -152px;
	opacity: .8;
}

p.picture-caption {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 15px;
	font-weight: 300;
}

p.picture-caption:empty::before {
	content:"picture caption (optional)";
	color: #ccc;
	text-align: center;
}

.arrow-downwards {
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/******************************************************************
	Story details modal
******************************************************************/

#story-details-modal .modal-body {
	height: 430px;
}

#story-details-modal #story-thumbnail-container {
	position: relative;
	margin-right: 15px;
	margin-top: 8px;
	width: 150px;
	float: left;
}

#story-details-modal #story-thumbnail {
	width: 100%;
}

#story-details-modal #thumbnail-controls {
	position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 0px 5px;
  background-color: rgba(1,1,1,.3);
  border: 1px solid rgba(255,255,255,.5);
}

#story-details-modal #thumbnail-controls a {
	color: white;
	cursor: pointer;
}

#story-details-modal #story-title {
}

#story-details-modal #story-description {
	border: 1px solid #ccc;
	width: 400px;
	resize: none;
	outline: none;
	border-radius: 5px;
}

#story-details-modal .location-banner {
	margin-left: 0px;
	height: 30px;
}

#story-details-modal .location-name {
	padding: 4px 2px;
}

#story-details-modal .popover {
	max-width: inherit;
	width: 460px;
	padding: 0;
	border: 0;
	background-color: #333;
	border-radius: 20px;
}

#story-details-modal .popover-content {
	padding: 30px;
}

#story-details-modal .popover > .arrow:after {
	border-bottom-color: #333;
}

#story-details-modal #story-tags {
	border:none;
	border-bottom: 1px solid #ccc;
	resize: none;
	outline: none;
}

#story-details-modal #story-external-link {
	border:none;
	width: 100%;
	border-bottom: 1px solid #ccc;
	outline: none;
}

#story-details-modal [disabled] {
	opacity: .3;
}

/******************************************************************
	Icons
******************************************************************/

.btn-icon {
	position: relative;
	padding: 5px 8px;
	border-radius: 100%;
	outline: none;
	border: none;
}

.btn-icon:focus {
  outline: none;
}

.btn-icon:hover {
  color: #666;
}

.btn-icon .glyph-icon {
  padding: 0px;
  outline: none;
}

.btn-icon .badge {
  top: -6px;
  background: #000;
  color: #FFF;
}
