
body {
  overflow-y: hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.list-group {
    margin-bottom: 0px;
}

.hash-tag {
  color: white;
  background-color: #FF9393;
  padding: 1px 5px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

.tag-list {
  position: absolute;
  min-width: 100px;
  max-width: 400px;
  background-color: #fff;
  border: 1px solid #C3C3C3;
  border-radius: 4px;
  padding: 0px;
}

.tag-item {
  display: block;
  color: #aaa;
  font-size: 12px;
  padding: 0px 4px;
  cursor: pointer;
}

.tag-item:hover {
  background: #ddd;
}

.pac-container, .ui-autocomplete {
  z-index: 2000 !important;;
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
  position: relative;
  overflow:scroll;
  width: 100%;
  background-size: 150px;
  background-color: #fff;
/* background-image: url(/assets/images/pattern3.jpg); */
}

/******************************************************************
	Stories List View
******************************************************************/

#story-list {
  position: relative;
  width: 100%;
  padding-right: 300px;
}

/******************************************************************
	Map
******************************************************************/

#index-map-and-location-wrapper {
  position: fixed;
  height: 100%;
  bottom: 0;
  right: 0;
  /*margin: 30px;*/
  pointer-events: none;
}

#location-name-container {
  display: block;
  float: left;
  padding: 120px 20px;
}

#location-name {
  display: none;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 10px;
  border-radius: 26px;
}

#index-map-and-location-wrapper .map-container {
  display: block;
  width: 300px;
  height: 100%;
  overflow: hidden;
  /*border-radius: 100%;*/
  opacity: .9;
  float: right;
}

#index-map-and-location-wrapper .mapbox-canvas {
  width: 100%;
  height: 100%;
}

.marker-mpb {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 100%;
  background-color: #ffcc51;
}

/******************************************************************
	Story Containers
******************************************************************/

.story-container {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  position: relative;
}

.story-container.open-story {

}

.story-container.single-story {

}

.story-container.article-story {

}

.story-container-cover {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  position: relative;
}

.story-container.show-content .story-thumbnail-container {
  left: inherit !important;
  right: calc(500px - 100%) !important;
}

.story-container.show-content.extended .story-thumbnail-container {
  left: inherit !important;
  right: calc(40px - 100%) !important;
}

.story-container.show-content .story-details {
  display: none !important;
}

.story-container-body {
  display: none;
  position: absolute;
  top: 0px;
  padding: 40px 120px;
  width: calc(100% - 40px);
  height: calc(100% - 80px);
  text-align: center;
}

.story-container.extended .story-container-body {
  padding: 40px 60px;
}

.story-container.show-content .story-container-body {
  display: flex !important;
	display: -webkit-flex !important; /* Safari */
	flex-direction: column !important;
  -webkit-flex-direction: column !important; /* Safari 6.1+ */
}

.story-container-body::before,
.story-container-body::after {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  content: ""
}

.story-container-body a {
  cursor: pointer;
}

.story-container.single-story .story-content,
.story-container.article-story .story-content,
.story-container.bookref-story .story-content,
.story-container.instagram-story .story-content {
  text-align: left;
  line-height: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0px 15px;
  overflow: scroll;
}

.story-container-footer {
  background: #fff;
  text-align: center;
  height: 80px;
  padding-top: 10px;
}

.story-thumbnail-container {
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.story-container-cover.squared-layout.left .story-thumbnail-container {
  left: 0%;
}

.story-container-cover.squared-layout.right .story-thumbnail-container {
  right: 0%;
}

.story-thumbnail-container img {
  position: absolute;
}

.story-thumbnail-container blockquote, .story-thumbnail-container iframe {
  border: none !important;
  margin: -64px 0 0 0 !important;
  border-radius: 0px !important;
  width: 100% !important;
  max-width: 100% !important;
}

.story-container.extended .story-container-cover.squared-layout .story-thumbnail-container {
  width: 100% !important;
}

/******************************************************************
	Story Details
******************************************************************/

.story-details {
  position: absolute;
  bottom: 0px;
  padding: 30px;
}

.story-container-cover.squared-layout .story-details {
  height: 100%;
  bottom: inherit;
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
}

.story-container-cover.squared-layout.left .story-details {
  right: 0%;
}

.story-container-cover.squared-layout.right .story-details {
  left: 0%;
}

.story-container-cover.squared-layout .story-details::before,
.story-container-cover.squared-layout .story-details::after {
  display: block;
  flex-grow: 1;
	-webkit-flex-grow: 1;
  content: "";
}

.story-container.extended .story-container-cover.squared-layout .story-details {
  width: 400px !important;
}

.story-details-inner > * {
  color: black;
  margin-bottom: 4px;
  padding: 1px 8px;
}

.story-container-cover.cover-layout .story-details-inner *,
.story-container.extended .story-container-cover.squared-layout .story-details-inner * {
  color: white;
  border-color: white;
}

.story-container-cover.cover-layout .story-details-inner > *,
.story-container.extended .story-container-cover.squared-layout .story-details-inner > * {
  background-color: rgba(0, 0, 0, 0.5);
}

.author-container,
.shared-by-container {
  display: table;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  overflow: hidden;
  padding: 0px;
}

.author-container {
  margin-left: 8px;
}

.shared-by-container {
  border-radius: 0px;
}

.shared-by-container::before {
  content: "shared by";
  padding-right: 5px;
  padding-left: 8px;
  color: #aaa;
  font-style: italic;
  font-weight: 300;
}

.story-author-thumbnail,
.story-shared-by-thumbnail {
  display: table-cell;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
}

.story-author-name,
.story-shared-by-name {
  display: table-cell;
  color: black;
  padding: 2px 5px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.story-added-date {
  display: inline-block;
}

.story-labels-container {
  background-color: inherit !important;
}

.story-labels-container .label {
  background-color: #dadada;
  color: black !important;
  font-weight: 300;
  border-radius: 9px;
  margin-right: 3px;
  cursor: pointer;
}

.story-stats-container {
	padding: 5px;
  margin-top: 15px;
	font-size: 12px;
  text-align: center;
}

.story-stats-views {
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid #000;
}

.story-stats-likes {
	display: inline-block;
	padding-right: 10px;
  padding-left: 10px;
	border-right: 1px solid #000;
}

.story-stats-saves {
	display: inline-block;
	padding-left: 10px;
}

.story-title {
  display: inline-block;
  border:none;
	box-shadow: none;
	outline:none;
	font-size:17px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
	text-align: initial;
	overflow:hidden;
	max-height: 100px;
}

.summary-container {
}

.story-summary, .story-summary:focus {
	font-size:18px;
  margin: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.story-summary a {
  cursor: pointer;
}

.article-date {
  display: inline-block;
}

.article-source {
  display: inline-block;
  padding-left: 4px;
}

.article-icon {
  display: inline-block;
  height: 22px;
  width: 28px;
  padding: 1px 0px 1px 6px;
}

.article-author {
  display: inline-block;
  border-right: 1px solid #000;
}

/******************************************************************
	Story Content
******************************************************************/

.story-content {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

.story-content .section {
  margin-bottom: 15px;
}

.story-content .section:last-child {
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.story-content .location-banner-container {
  text-align: center;
}

.story-content .location-banner {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 0px 10px;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 14px;
}

.story-content .location-banner .location-icon {
	float: left;
  padding: 3px 0px;
	color: #c7c7c7;
}

.story-content .location-name {
	float: left;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 300;
	margin: 0px 10px;
	padding: 3px 0px;
}

.story-content .story-text {
	width: 60%;
  margin: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 32px;
}

.story-content .text-normal-size {
	font-size: 17px;
}

.story-content .text-title-size {
	font-size: 21px;
}

.story-content .picture-container.onfocus:not([readonly]) img , .story-content  .picture-container:hover:not([readonly]) img{
	outline: 3px solid #dad
}

.story-content .picture-container.onfocus .picture-controls, .story-content  .picture-container:hover .picture-controls {
	display: block;
}

.story-content  .picture-frame {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.story-content .picture-frame img {
	width: 100%;
}

.story-content .picture-frame[position=right] {
	margin: 20px;
	margin-right: 20%;
	width: 27%;
	float: right;
}

.story-content .picture-frame[position=center] {
	width: 60%;
	margin: auto;
}

.story-content .picture-frame[position=left] {
	margin: 20px;
	margin-left: 20%;
	width: 27%;
	float: left;
}

.story-content .picture-frame[position=cover] {
	width: 100%;
}

.story-content .picture-controls {
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -152px;
	opacity: .8;
}

.story-content p.picture-caption {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 15px;
	font-weight: 300;
}

.story-content p.picture-caption:empty:not([readonly])::before {
	content:"picture caption (optional)";
	color: #ccc;
	text-align: center;
}

.story-content .arrow-downwards {
	-ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

/******************************************************************
	Create Options Modal
******************************************************************/

#create-story-prompt-modal {
}

#create-story-prompt-modal.story-editing .modal-dialog {
}

#create-story-prompt-modal.story-editing .modal-body {
  height: 500px
}

#create-story-prompt-modal.story-editing #options {
  display: none;
}

#create-story-prompt-modal #story-editing-container {
  display: none;
}

#create-story-prompt-modal.story-editing #story-editing-container {

}

#create-story-prompt-modal .modal-dialog {
  width: 350px;
  margin: 15% auto 0 auto;
}

#create-story-prompt-modal .modal-title {
  margin: 10px 0px;
  font-size: 14px;
  color: #777;
  font-weight: 300;
  line-height: 1.42857143;
}

#create-story-prompt-modal .div-btn {
  background-color: #eee;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

#create-story-prompt-modal .div-btn:hover {
  background-color: #ddd;
}

#create-story-prompt-modal .div-btn p {
  font-weight: 300;
}

#create-story-prompt-modal .div-btn h4 {
  margin: 0;
}

/******************************************************************
	Create Article Story Options Modal
******************************************************************/

#create-edit-story-pane {
  display: block;
  position: fixed;
  top: 100%;
  height: 100%;
  width: 100%;
  overflow-y: hidden;;
  background-color: rgba(255, 255, 255, 0.52);
  padding-top: 55px;
}

#create-edit-story-pane.open {
  display: block;
  top: 0%;
}

#create-edit-story-pane #pane-dialog {
  background-color: rgba(255, 255, 255, .8);
  position: relative;;
  height: 100%;
  width: 100%;
}

#create-edit-story-pane #prompt {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  position: relative;
  top:0%;
  height: 100%;
  padding: 40px 100px;
}

#create-edit-story-pane #prompt::after,
#create-edit-story-pane #prompt::before {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  content: "";
}

#create-edit-story-pane #prompt.collapsed {
  top:-100%;
}

#create-edit-story-pane #prompt > div {
  position: relative;
}

#create-edit-story-pane #prompt input {
  display: none;
  font-size: 18px;
  padding: 4px 20px;;
  width: 100%;
  background-color: #fff;
}

#create-edit-story-pane #prompt .loader {
  display: none;
  position: absolute;
  border-width: 2px;
  border-top-color: #000000;
  top: 6px;
  right: 6px;
  width: 22px;
  height: 22px;
}

#create-edit-story-pane #prompt #search-query-results {
  position: absolute;
}

#search-query-results {
  display: none;
  padding: 5px 0px;
  background-color: #fff;
  width: 100%;
  list-style: none;
}

#search-query-results li {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 20px;
  cursor: pointer;
}

#search-query-results li.selected  {
  background-color: #5e7abd;
  color: white;
}

#create-edit-story-pane #edit-story-container {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  position: relative;
  top:-100%;
  height: 100%;
}

#create-edit-story-pane #edit-story-container.collapsed {
  top:0%;
}

#create-edit-story-pane #story-image-container {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-grow: 1;
	-webkit-flex-grow: 1;
  position: relative;
  height: 100%;
  padding: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#create-edit-story-pane #story-image-container::after,
#create-edit-story-pane #story-image-container::before {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  content: ""
}

#create-edit-story-pane #story-image-container iframe {
  margin: auto !important;
  max-width: 600px !important;
}


#create-edit-story-pane #story-image-container div {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.58)
}

#create-edit-story-pane #edit-story-container.instagram-story #story-image-container div {
  display: none;
}

#create-edit-story-pane #story-image-container input {
  width: 100%;
}

#create-edit-story-pane #pane-content {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  position: relative;
  width: 500px;
  height: 100%;
  padding: 25px;
}

#create-edit-story-pane #pane-content textarea {
  flex-grow: 1;
	-webkit-flex-grow: 1;
}

#create-edit-story-pane input, #create-edit-story-pane textarea {
  background-color: rgba(197, 197, 197, 0.58);
  border-bottom: 1px solid black;
  margin-bottom: 6px;
}

#create-edit-story-pane #story-details {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-grow: 1;
	-webkit-flex-grow: 1;
}

#create-edit-story-pane #story-details .details-container {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
  flex-grow: 1;
	-webkit-flex-grow: 1;
}

#create-edit-story-pane #story-details .details-container.collapsed {
  display: none;
}

#create-edit-story-pane #story-details .details-container div {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
}

#create-edit-story-pane #story-details .details-container div > input {
  flex-grow: 1;
	-webkit-flex-grow: 1;
}

#create-edit-story-pane #story-details .details-container div > :not(:first-child) {
  margin-left: 3px;
}

#create-edit-story-pane #story-details .details-container div > img {
  height: 23px;
  width: 23px;
}

#create-edit-story-pane #story-keywords-container div {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  margin-bottom: 6px;
}

#create-edit-story-pane #story-keywords-container p {
  min-height: 25px;
}

#create-edit-story-pane #story-keywords-container p:empty::before {
  content:"no tags";
  color: #ccc;
	font-style: italic;
}

#create-edit-story-pane #story-keywords span {
  display: inline-block;
  padding: 0px 10px;
  margin-right: 3px;
  margin-bottom: 3px;
  color: white;
  border-radius: 14px;
  background-color: #ec1580;
}

#create-edit-story-pane #story-keywords-container input {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  margin-bottom: 0px;
}

#create-edit-story-pane #map-and-location-wrapper {
  position: relative;
}

#create-edit-story-pane #map-and-location-wrapper div:first-child {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
}

#create-edit-story-pane #map-and-location-wrapper div:first-child input {
  margin-right: 3px;
}

#create-edit-story-pane #map-and-location-wrapper div:first-child input[type=text] {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  margin-right: 5px;
}

#create-edit-story-pane #map-container {
  position: relative;
  margin: auto;
  width: 450px;
  height: 250px;
}

#create-edit-story-pane #mapbox-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#create-edit-story-pane #map-viewport {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#create-edit-story-pane #map-sight {
  position: absolute;
  display: block;
  top:50%;
  left: 50%;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color: #f7df25;
}

#create-edit-story-pane #map-region {
  position: absolute;
  display: block;
  top:50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: rgba(223, 201, 32, 0.28);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#create-edit-story-pane #pane-footer {
  padding-top: 5px;
  text-align: right;
}

/******************************************************************
	Login/Signup Modals
******************************************************************/

.login-modal .modal-dialog {
  width: 320px;
}

.login-modal .modal-content {
  border: 0px;
  border-radius: 0px;
}

.login-modal .modal-body {
  padding: 20px 30px;
  text-align: center;
}

.login-modal input {
  width: 100%;
  margin-bottom: 12px;
  padding: 5px;
  font-size: 20px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.login-modal button {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 0px;
}

.login-modal #facebook-login-btn {
  height: 38px;
  margin-top: 15px;
  background-image: url("/assets/images/login-facebook.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.login-modal h4 {
  margin-bottom: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.login-modal h4.warning {
  color: #ec2559;
}

.login-modal #lir-logo {
  display: inline-block;
  margin-top: 10px;
  width: 70%;
}

.signup-modal .modal-content {
  border: 0px;
  border-radius: 0px;
}

.signup-modal .modal-body {
  padding: 20px 30px;
}

.signup-modal h4 {
  margin-bottom: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.signup-modal p {
  margin-bottom: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.signup-modal .signup-alert-message, .login-modal .login-alert-message  {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ec2559;
}

.signup-modal input {
  width: 100%;
  margin-bottom: 12px;
  padding: 5px;
  font-size: 20px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.signup-modal .controls {
  text-align: right;
}

/******************************************************************
	Message Windows
******************************************************************/

.alert-message {
  position: relative;
  top: 87%;
  width: 40%;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 400;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  -moz-box-shadow:     0px 5px 10px 2px rgba(1,1,1,.3);
	-webkit-box-shadow:  0px 5px 10px 2px rgba(1,1,1,.3);
	box-shadow: 0px 5px 10px 2px rgba(1,1,1,.3);
  pointer-events: none;
  text-align: center;
}

.alert-message p {
  color: #fff;
  font-size: 12px;
  margin: 0px;
}

/******************************************************************
	Icons
******************************************************************/

.btn-icon {
  position: relative;
  padding: 0px;
  background: transparent;
  color:#000;
  outline: none;
}

.btn-icon:focus {
  outline: none;
}

.btn-icon:hover {
  color: #666;
}

.btn-icon .glyph-icon {
  padding: 0px;
  outline: none;
}

.btn-icon .badge {
  top: -6px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
  font-size: 10px;
  background: #000;
  color: #FFF;
}

.btn-no-background {
	background: transparent;
	border: none;
	opacity: .7;
	border-radius: 100%;
}

.btn-no-background:hover, .btn-no-background:active:focus, .btn-no-background:focus {
	background: transparent;
	border: none;
	opacity: 1;
	outline: none;
}

.btn-no-background.btn-white {
	color: #eee;
}


.btn-transparent {
	position: relative;
	overflow: hidden;
	background: transparent;
	border: 1px solid white;
	color: white;
	border-radius: 10px;
}

.btn-transparent:hover {
	background: rgba(255, 255, 255, 0.1);
	color: white;
}

.btn-transparent:focus {
	outline: none;
	color: white;
}

.btn-transparent.highlighted {
	background: rgba(61, 243, 184, 0.55);
	color: rgb(255, 255, 255);
}

.btn-transparent:hover.highlighted {
	background: rgba(61, 243, 184, 0.7);
	color: rgb(255, 255, 255);
}

.image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

.image-upload-form input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}
