
body {
	overflow:hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
	/*height:85%;*/
	 overflow-y:scroll;
}

/******************************************************************
	Library Body
******************************************************************/

#library-body {
	position: relative;
	top:0%;
	left:0%;
	margin-top: 30px;
	width:100%;
	height:100%;
	float:left;
	padding:0px;
	padding-bottom:50px;
	z-index: 100;
	/*font-family: Georgia, "Times New Roman", Times, serif;*/
	text-align:center;
}

#library-body h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 1px rgba(40,40,40,.6);
	font-size:46px;
	opacity:.4;
}

@media (min-width: 768px) {
	#library-body {
		padding:15px;
	}
}

#no-stories-message {
	margin-top: 30px;
	color: #999;
}

#no-stories-message p:first-child {
	 font-size: 17px;
	font-weight: 600;
}



/******************************************************************
	Create Story Container
******************************************************************/

#create-story-view-container {
	width: 100%;
	max-width:500px;
	text-align: initial;
	background-color: white;
  margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

#create-story-view-container .story-container-header {
	margin-bottom: 15px;
}

#create-story-view-container .story-container-body {
	padding: 20px 15px;
	clear: both;
	cursor: initial;
}

#create-story-view-container .story-container-footer {
}

@media (max-width: 768px) {
	#create-story-view-container {
	}

	#create-story-view-container .story-container-header {
	}

	#create-story-view-container .story-container-body {
		padding:10px;
		padding-top:20px;
	}

	#create-story-view-container .story-container-footer {
	}
}

#create-story-view-container .location-container {
	cursor: pointer;
}

#story-text {
	/*height: 100px;*/
	margin-bottom:10px;
	line-height: 25px;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.44em;
	border: none;
	border-left: 1px solid #000;
	border-radius: 0px;
	padding: 5px;
	min-height: 35px;
}

#story-text .placeholder {
	color: #aaa;
}

#story-text .tag {
	background-color: red;
	color: white;
	border-radius: 10px;
  font-weight: 500;
}

#story-text:focus {
	outline: none;
}

#create-story-options {
	text-align: right;
}

#story-image-container {
	position: relative;
	padding: 10px;
	display:none;
}

#story-image {
	width:100%;
}

#remove-story-image {
	position: absolute;
	right: 15px;
	opacity: .6;
}

#remove-story-image:hover {
	opacity: .8;
}

#story-add-picture-button {
	position:relative;
	overflow:hidden;
}

#image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#story-insert-article {
	display:none;
	margin: 15px 0px;
	width: 100%;
}

#story-insert-article p {
	margin:0px;
	color:#aaa
}

#story-insert-article input {
	width: 100%;
	padding: 2px 5px;
	border-width: 4px;
	border: 1px solid #eee;
	width: 97%;
}

#story-article {
	display:none;
}

.article-img-container {
	position: relative;
  padding: 0px;
	width: 100%;
}

.article-content-container {
	padding: 10px 16px;
}

.article-img-select-controls {
	display:none;
	position: absolute;
  top: 50%;
  margin-top: -10px;
  height: 23px;
  width: 17px;
  background-color: rgba(1,1,1,.4);
  border: 1px solid #aaa;
}

.article-img-select-controls .glyph-icon {
	vertical-align: inherit;
	padding: 0px;
  color: #ccc;
}

#create-story-view-container #return-story-edit {
	cursor: pointer;
}

#create-story-view-container .story-map-container {
	height:340px;
	position: relative;
}

#create-story-view-container #story-map-canvas {
	height:340px;
}

#create-story-view-container #story-map-location-input {
	padding: 5px;
	width: 100%;
	margin: 5px 0px;
}

#create-story-view-container #set-location-btn {
	margin-top: 5px;
}

.pac-container {
  z-index: 1040 !important;
}

#create-story-view-container #story-map-sight {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	pointer-events: none;
	margin-top: -50px;
	margin-left: -50px;
	background-image: url(/assets/images/map_sight_area.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#create-story-view-container #story-map-sight-dot {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
  height: 6px;
  pointer-events: none;
  margin-top: -3px;
  margin-left: -3px;
	background-image: url(/assets/images/map_sight_dot.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/******************************************************************
	Story Container
******************************************************************/

.story-container {
	width: 100%;
	max-width:500px;
	text-align: inherit;
	background-color: white;
	border-radius: 0px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.story-container-header {
	padding: 0px;
}

.story-container-body {
	padding: 20px 15px;
	clear: both;
	cursor: pointer;
}

.story-container-footer {
	padding: 0px 15px;
	padding-bottom: 10px;
	text-align: right;
}

.story-set-location-view-container {
	display: none;
	clear: both;
  padding: 20px;
}

@media (max-width: 768px) {
	.story-container-body  {
		padding: 0px;
	}
}

.author-container {
	text-align: initial;
	height: 60px;
	width: 100%;
	padding: 20px;
}

.story-author-thumbnail {
	width:46px;
	height:46px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -12px;
	border-radius:23px;
	margin-right: 10px;
}

.story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
}

.location-container {
	display: table;
	width: 100%;
	text-align: initial;
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
	height: 50px;
	padding: 4px 4px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.location-container .glyph-icon {
	padding: 3px 5px;
	margin-top: 7px;
}

.location-container .location {
	display: table-cell;
	padding: 0px 8px 0px 4px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-left: 5px;
	vertical-align: middle;
	color: white;
	width: 100%;
}

.image-container {
	margin-top: 15px;
	margin-bottom:15px;
}

.image-container img {
	width:100%;
}

.summary-container.collapsed {
	position: relative;
	max-height: 100px;
	overflow: hidden;
}

.summary-container-overlay {
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
}


.story-summary, .story-summary:focus {
	border:none;
	box-shadow: none;
	outline:none;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
    line-height: 25px;
	text-align: initial;
	overflow:hidden;
}

.story-like-button {
	margin-right: 10px;
}

.story-unpublish-button {
	margin-right: 10px;
}


/******************************************************************
	Story Article
******************************************************************/

.article-container {
	position: relative;
	width:100%;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
	text-align: initial;
	cursor:pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
	overflow:hidden;
	pointer-events: none;
}

/*.article-container > *:not(#article-img-container) {
	padding:7px;
}*/

.article-image {
	width:100%;
	/*margin-bottom:10px;*/
}

.article-title {
	font-size: 20px;
	color: black;
	margin-top: 0px;
	font-weight: 400;
}

.article-description-container.collapsed {
	max-height: 100px;
	position: relative;
	overflow: hidden;
}

.article-description-overlay {
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
}

.article-description {
	border:none;
	box-shadow: none;
	outline:none;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	resize:none;
	overflow:hidden;
	cursor:pointer;
	font-size: 16px;
	line-height: 1.44em;
	font-weight: 300;
}

.article-embebed-iframe-container {
	display: none;
	position: relative;
	width:100%;
	overflow: hidden;
  border-radius: 5px;
}

.article-embebed-iframe-container iframe {
	width:100%;
}

.article-host-author {
	font-weight: 300;
}

/******************************************************************
	Open Story Container
******************************************************************/

#open-story-view {

}

#open-story-view .modal-dialog {
	width: 90%;
}

#open-story-view #open-story-view-container {
}

#open-story-view .story-container-header {
	padding: 0px;
}

#open-story-view .story-container-body {
	clear: both;
  padding: 20px;
	height: 580px;
	overflow-y: scroll;
	overflow-x: hidden;
	cursor: initial;
}

#open-story-view .story-container-footer {
	border-top: 1px solid #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

#open-story-view .story-set-location-view-container {
	clear: both;
  padding: 20px;
	height: 580px;
}

#open-story-view .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 40%;
	padding: 13px 6px;
	float: left;
}

#open-story-view .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

#open-story-view .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
}

#open-story-view .location-container {
	display: table;
	width: 60%;
	cursor: pointer;
}

#open-story-view .location-container .location {

}

#open-story-view #story-text {
	max-width: 500px;
	margin: auto;
	margin-bottom:10px;
	line-height: 25px;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.44em;
	border: none;
	border-radius: 0px;
	padding: 5px;
	min-height: 35px;
}

#open-story-view #story-text .placeholder {
	color: #aaa;
}

#open-story-view #story-text:focus {
	outline: none;
}

#open-story-view #story-text.editable {
	border-left: 1px solid #000;
}

#open-story-view .image-container img {
	width:100%;
}

#open-story-view #create-story-options {
	padding: 7px;
	text-align: right;
}

#open-story-view #story-image-container {
	position: relative;
	padding: 10px;
	display:none;
	max-width: 450px;
	margin: auto;
}

#open-story-view #story-image {
	width:100%;
}

#open-story-view #story-add-picture-button {
	position:relative;
	overflow:hidden;
}

#open-story-view #image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#open-story-view #image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#open-story-view .article-container {
	max-width: 450px;
	margin: auto;
	z-index: 0;
	pointer-events: all;
}

#open-story-view .article-container.large-view {
	max-width: initial;
	max-height: 540px;
}

#open-story-view .article-img-container {
	position: relative;
  padding: 0px;
	width: 100%;
}

#open-story-view .article-image {
	position: relative;
  padding: 0px;
	width: 100%;
}

#open-story-view .article-content-container {
	padding: 10px 16px;
}

#open-story-view .article-title {
	font-size: 20px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: black;
	margin-top: 0px;
	font-weight: 500;
	margin-bottom: 2px;
}

#open-story-view .article-description {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
}

#open-story-view .article-author-host {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
	font-size: 12px;
}

#open-story-view #return-story-edit {
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
}

#open-story-view #story-embed-map-canvas {
	height:340px;
}

/******************************************************************
	Location Banner
******************************************************************/

#location-banner {
	position: absolute;
	margin-top: 0px;
	width: 100%;
	height: 45px;
	background-color:#66d9ff;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	padding: 5px;
	z-index: 300;
}

#location-banner.collapsed-navbar {
	top: 4px;
	left: 25%;
	width: 38%;
	position: fixed;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#location-input {
	position: absolute;
	padding: 5px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	font-size: 14px;;
}

#location-banner.collapsed-navbar #location-input {
	width: 100%;
	left: 0;
  margin-left: 0;
}


/******************************************************************
	Library Map
******************************************************************/

#library-map {
	position: relative;
	width:100%;
	height:350px;
	border-radius:0px;
	overflow:hidden;
}

@media (min-width: 768px) {
	#library-map {

	}
}

#map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

.marker-cluster-baloon {
	background-color: rgba(0, 0, 0, 0.4) !important;
	border: 1px solid #fff !important;
	border-radius: 100% !important;
	font-weight: 500 !important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif !important;
}

/******************************************************************
	Social
******************************************************************/

.social-wrapper {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}
a.social {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(/assets/images/social-black.png);
	margin: 10px 0px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius:50%;
}
a.social:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
a.social.mail {
	background-position: 0px 0px;
}
a.social.facebook {
	background-position: 0px -50px;
}
a.social.twitter {
	background-position: 0px -100px;
}
