
body {
	overflow:hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
	/*height:85%;*/
	 overflow-y:scroll;
}

/******************************************************************
	Library Body
******************************************************************/

#library-body {
	position: relative;
	top:0%;
	left:0%;
	margin-top: 60px;
	width:100%;
	height:100%;
	float:left;
	padding:0px;
	padding-bottom:50px;
	z-index: 100;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
}

#library-body h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	text-shadow: 1px 1px 1px rgba(40,40,40,.6);
	font-size:46px;
	opacity:.4;
}

@media (min-width: 768px) {
	#library-body {
		padding:15px;
	}
}

#no-stories-message {
	margin-top: 30px;
	color: #999;
}

#no-stories-message p:first-child {
	 font-size: 17px;
	font-weight: 600;
}



/******************************************************************
	Create Story Container
******************************************************************/

#create-story-container {
	width: 100%;
	max-width:600px;
	padding: 20px;
	text-align: initial;
	background-color: white;
  margin: auto;
	margin-top: 30px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

@media (max-width: 768px) {
	#create-story-container {
		padding:10px;
		padding-top:20px;
	}
}

#story-text   {
	resize:none;
	margin-bottom:10px;
	line-height: 25px;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.44em;
}

textarea#story-text {
	border-width: 1px;
	border-radius: 6px;
}

#create-story-options {
	padding: 7px;
	text-align: right;
}

#story-image-container {
	padding: 10px;
	display:none;
}

#story-image {
	width:100%;
}

#story-add-picture-button {
	position:relative;
	overflow:hidden;
}

#image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#story-insert-article {
	display:none;
	margin-bottom:10px;
}

#story-insert-article p {
	margin:0px;
}

#story-insert-article input {
	width: 100%;
	padding: 2px 5px;
	border-width: 4px;
	border: 1px solid #eee;
}

#story-article {
	display:none;
}

.article-img-container {
	position: relative;
  padding: 0px;
	width: 100%;
}

.article-content-container {
	padding: 10px 16px;
}

.article-img-select-controls {
	display:none;
	position: absolute;
  top: 50%;
  margin-top: -10px;
  height: 23px;
  width: 17px;
  background-color: rgba(1,1,1,.4);
  border: 1px solid #aaa;
}

.article-img-select-controls .glyph-icon {
	vertical-align: inherit;
	padding: 0px;
  color: #ccc;
}

#article-img-select-prev {
	left: 0%;
}

#article-img-select-next {
	right: 0%;
}

/******************************************************************
	Story Container
******************************************************************/

.story-container {
	width: 100%;
	max-width:600px;
	padding: 20px;
	text-align: right;
	background-color: white;
	border-radius: 0px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

@media (max-width: 768px) {
	.story-container {
		padding:10px;
		padding-top:20px;
	}
}

.author-container {
	margin-bottom:25px;
	text-align: initial;
}

.story-author-thumbnail {
	width:46px;
	height:46px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -12px;
	border-radius:23px;
	margin-right: 10px;

}

.story-author-location {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
}

.author-container .address {
	color: #999;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-left: 5px;
}

.image-container img {
	width:100%;
	margin-bottom:25px;
}

.story-summary, .story-summary:focus {
	border:none;
	box-shadow: none;
	outline:none;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
    line-height: 25px;
	text-align: initial;
	overflow:hidden;
}

.story-unpublish-button {

}

.story-unpublish-button {

}


/******************************************************************
	Story Article
******************************************************************/

.article-container {
	position: relative;
	width:100%;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: initial;
	cursor:pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
	overflow:hidden;
}

/*.article-container > *:not(#article-img-container) {
	padding:7px;
}*/

.article-image {
	width:100%;
	/*margin-bottom:10px;*/
}

.article-title {
	font-size: 20px;
	color: black;
	margin-top: 0px;
	font-weight: 400;
}

.article-description {
	border:none;
	box-shadow: none;
	outline:none;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	resize:none;
	overflow:hidden;
	cursor:pointer;
	font-size: 16px;
	line-height: 1.44em;
	font-weight: 300;
}

.article-embebed-iframe-container {
	display: none;
	position: relative;
	width:100%;
	overflow: hidden;
  border-radius: 5px;
}

.article-embebed-iframe-container iframe {
	width:100%;
}

.article-host {
}

/******************************************************************
	Location Banner
******************************************************************/

#location-banner {
	position: fixed;
	top: 364px;
	width: 100%;
	height: 70px;
	background-color:#66d9ff;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	padding: 15px;
	z-index: 200;
}

#location-input {
	position: absolute;
	padding: 5px;
	width: 600px;
	left: 50%;
	margin-left: -300px;
	font-size: large;
}


/******************************************************************
	Library Map
******************************************************************/

#library-map {
	position: relative;
	width:100%;
	height:300px;
	border-radius:0px;
	overflow:hidden;
}

@media (min-width: 768px) {
	#library-map {

	}
}

#map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#map-canvas img {
	max-width: inherit; /* this is a fixer for smth*/
}

#map-sight {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	pointer-events: none;
	margin-top: -50px;
	margin-left: -50px;
	background-image: url(/assets/images/map_sight_area.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#map-sight-dot {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	pointer-events: none;
	margin-top: -3px;
	margin-left: -3px;
	background-image: url(/assets/images/map_sight_dot.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/******************************************************************
	Social
******************************************************************/

.social-wrapper {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 5000;
}
a.social {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(/assets/images/social-black.png);
	margin: 10px 0px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius:50%;
}
a.social:hover {
	background-color: rgba(0, 0, 0, 0.4);
}
a.social.mail {
	background-position: 0px 0px;
}
a.social.facebook {
	background-position: 0px -50px;
}
a.social.twitter {
	background-position: 0px -100px;
}
