/******************************************************************
	Fonts
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-face {
    font-family: "HarlowSolid";
    src: url(../fonts/Harlow-Solid-Italic-Italic.ttf) format("truetype");
}

/******************************************************************
	Main Styling
******************************************************************/

html,body,section {
	margin: 0px;
	padding: 0px;
	/* height: 100%; */
	width: 100%;
	color: #252525;
  min-width: 1000px;
}

section {
	height: 100%;
}

.grad-bar {
	height:4px;
	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo);
	background: -o-linear-gradient(right, red, orange, yellow, green, blue, indigo);
	background: -moz-linear-gradient(right, red, orange, yellow, green, blue, indigo);
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo);
	opacity:.6;
	z-index:300;
	clear: both;
}

.georgiaFont {
	font-family: Georgia,serif;
}

.harlowFont {
	font-family: HarlowSolid;
}

.glyph {
	display: inline-block;
	font-family:"Flaticon";
	line-height: 1;
	margin-left:0px;
	vertical-align:middle;
}

.glyph:before {
	margin-left:0px;
	font-size: 20px;
}

.glyph-icon {
	padding: 10px;
	display: inline-block;
	font-family:"Flaticon";
	vertical-align:middle;
}

.icon-no-margins::before {
  margin:0px !important;
}

.icon-round-borders {
  border-radius: 100%;
}

.icon-shadow {
  -moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.icon-50px.glyph-icon:before, .icon-xxlarge.glyph:before {
	font-size: 50px;
}

.icon-40px.glyph-icon:before, .icon-xlarge.glyph:before {
	font-size: 40px;
}

.icon-30px.glyph-icon:before, .icon-large.glyph:before {
	font-size: 30px;
}

.icon-20px.glyph-icon:before, .icon-medium.glyph:before {
	font-size: 20px;
}

.icon-15px.glyph-icon:before, .icon-small.glyph:before {
	font-size: 15px;
}

.icon-10px.glyph-icon:before, .icon-xsmall.glyph:before {
	font-size: 10px;
}

.icon-8px.glyph-icon:before {
	font-size: 8px;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Navbar
******************************************************************/

.lir-style.navbar, .lir-style.navbar-default  {
	/*position: fixed;*/
	width: 100%;
	top: 0px;
	height:auto;
	margin-bottom:0px;
	border: none;
	border-radius: 0px;
	z-index:300;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
}

@media (min-width: 768px) {
	.lir-style.navbar, .lir-style.navbar-default  {
		/*height:64px;*/
	}
}

.lir-style  .navbar-brand {
	padding: 5px 15px;
}

.lir-style  .navbar-nav {
	margin: auto;
	padding: inherit;
	width:100%;
}

.lir-style  .navbar-nav  > li > a {
	width:100%;
	text-align: center;
  padding-top: 15px;
  padding-bottom: 12px;
  font-size: 16px;
	color:#252525;
	background-color: #F8F8F8;
	border-bottom: 4px solid rgba(1,1,1,0);
}

.lir-style  .navbar-nav  > li > a:hover, .lir-style  .navbar-nav  .open > a {
	background-color: #e7e7e7;
	border-bottom-color: rgba(1,1,1,.4);
}

@media (min-width: 768px) {
	.lir-style  .navbar-nav {
		margin-right: 2%;
		width:auto;
	}

	.lir-style  .navbar-nav  > li > a {
		width:auto;
	}

	.lir-style  .navbar-nav  > li > a:hover, .lir-style  .navbar-nav  .open > a {
		border-bottom: 4px solid rgba(1,1,1,.4);
	}
}

.lir-style  .navbar-collapse {
	max-height:none;
	padding:inherit;
}

.lir-style.navbar .grad-bar {
	margin-top:-4px;
}

#lir-logo {
	display:none;
	height: 40px;
}

#lir-logo-small {
	display:block;
	height: 40px;
}

@media (min-width: 768px) {
	#lir-logo {
		display:block;
		height: 40px;
	}
	#lir-logo-small {
		display:none;
		height: 40px;
	}
}

#title-input {
	display:none;
}

#create-link{
	display:none;
}

#stories-link{
	display:none;
}

#blog-link{
	display:none;
}

#login-link {
	display:none;
	background-color: rgba(111, 203, 66, .7);
	color: white;
}

#login-link:hover {
	background-color: rgba(111, 203, 66, 1);
}

#user-link  {
	display:none;
}

#user-link.with-avatar div {
	display:block;
}

#user-link div {
	display:block;
  height: 40px;
  width: 40px;
	border-radius:25px;
	padding-right: 5px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}

#signup-link {
	display:none;
	background-color: rgba(111, 203, 66, .7);
	color: white;
}

#signup-link:hover {
	background-color: rgba(111, 203, 66, 1);
}

#publish-link {
	display:none;
}

#delete-link {
	display:none;
	background-color: rgba(203, 66, 66, .7);
	color: white;
}

#delete-link:hover {
	background-color: rgba(203, 66, 66, 1);
}
