/******************************************************************
	Fonts
******************************************************************/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-face {
    font-family: "HarlowSolid";
    src: url(../fonts/Harlow-Solid-Italic-Italic.ttf) format("truetype");
}

/******************************************************************
	Main Styling
******************************************************************/

html,body,section {
	margin: 0px;
	padding: 0px;
	/* height: 100%; */
	width: 100%;
	color: #252525;
  /*min-width: 1200px;*/
}

section {
	height: 100%;
}

a:focus, a:hover {
  text-decoration: none !important;
}

input, input:active, input:focus, input:hover, textarea, textarea:active, textarea:focus, textarea:hover {
  outline: none;
  border: none;
  background-color: transparent;
  resize: none;
}

.grad-bar {
	height:4px;
	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo);
	background: -o-linear-gradient(right, red, orange, yellow, green, blue, indigo);
	background: -moz-linear-gradient(right, red, orange, yellow, green, blue, indigo);
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo);
	opacity:.6;
	z-index:300;
	clear: both;
}

.georgiaFont {
	font-family: Georgia,serif;
}

.harlowFont {
	font-family: HarlowSolid;
}

.glyph {
	display: inline-block;
	font-family:"Flaticon";
	line-height: 1;
	margin-left:0px;
	vertical-align:middle;
}

.glyph:before {
	margin-left:0px;
	font-size: 20px;
}

.glyph-icon {
	padding: 10px;
	display: inline-block;
	font-family:"Flaticon";
	vertical-align:middle;
}

.icon-no-padding {
  padding: 0 !important;
}

.icon-no-margins::before {
  margin:0px !important;
}

.icon-round-borders {
  border-radius: 100%;
}

.icon-shadow {
  -moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.icon-50px.glyph-icon:before, .icon-xxxlarge.glyph:before, .icon-50px.glyph:before {
	font-size: 50px;
}

.icon-40px.glyph-icon:before, .icon-xxlarge.glyph:before, .icon-40px.glyph:before {
	font-size: 40px;
}

.icon-30px.glyph-icon:before, .icon-xlarge.glyph:before, .icon-30px.glyph:before {
	font-size: 30px;
}

.icon-25px.glyph-icon:before, .icon-large.glyph:before, .icon-25px.glyph:before {
	font-size: 25px;
}

.icon-20px.glyph-icon:before, .icon-medium.glyph:before, .icon-20px.glyph:before {
	font-size: 20px;
}

.icon-15px.glyph-icon:before, .icon-small.glyph:before, .icon-15px.glyph:before {
	font-size: 15px;
}

.icon-10px.glyph-icon:before, .icon-xsmall.glyph:before, .icon-10px.glyph:before {
	font-size: 10px;
}

.icon-8px.glyph-icon:before {
	font-size: 8px;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/******************************************************************
	Navbar
******************************************************************/

.lir-navbar {
	position: fixed;
	width: 100%;
	top: 0px;
	z-index:300;
  background-color: white;

}

.lir-navbar .navbar-content {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  width: 100%;
  height: 50px;
}

.lir-navbar .navbar-content a {
  cursor: pointer;
  color: #000;
  opacity: .6;
  padding: 12px 10px;
}

.lir-navbar .navbar-content a:hover {
  opacity: 1;
}

.lir-navbar .grad-bar {
	margin-top:-4px;
}

.lir-navbar #lir-logo {
	height: 40px;
  width: 180px;
  margin: 3px 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/images/lir-logo-banner-simple-small.png");
}

@media (max-width: 768px) {
	.lir-navbar #lir-logo {
    width: 40px;
    background-image: url("/assets/images/lir-logo.png");
	}
}

#login-link {
	display:none;
	background-color: rgba(111, 203, 66, 1);
	color: white;
}

#user-link  {
	display:none;
}

#user-link.with-avatar div {
	display:block;
}

#user-link div {
	display:block;
  height: 40px;
  width: 40px;
	border-radius:25px;
	padding-right: 5px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}

#signup-link {
	display:none;
	background-color: rgba(111, 203, 66, .7);
	color: white;
}

#signup-link:hover {
	background-color: rgba(111, 203, 66, 1);
}

/******************************************************************
	Search bar View
******************************************************************/

#search-bar {
  flex-grow: 1;
	-webkit-flex-grow: 1;
}

#search-bar div:first-child {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  padding: 12px 10px;
  width: 100%;
}

#search-bar input {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  margin-left: 10px;
}

#search-results {
  display: none;
  padding: 10px 0px;
  background-color: #fff;
  margin-top: 2px;
}

#search-results ul {
  list-style: none;
  padding: 0px;
}

#search-results li {
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: row;
  -webkit-flex-direction: row; /* Safari 6.1+ */
  padding: 0px 30px;
}

#search-results li:hover , #search-results li.selected  {
  background-color: #5e7abd;
  color: white;
}

#search-results li:hover a , #search-results li.selected a {
  color: white;
}

#search-results a {
  display: inline-block;
  padding: 3px 6px;
  width: calc(100% - 10px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#search-results .glyph-icon {
  opacity: .6;
  padding: 3px 0px !important;
}
