
body {
	overflow:hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
	/*height:85%;*/
	 overflow-y:scroll;
}

/******************************************************************
	Profile Details
******************************************************************/

#profile-details-container {
	margin-top: 10px;
	text-align: center;
}

#profile-container {
	display: inline-block;
}

#profile-image-container {
	float:left;
	margin: 10px;
	border-radius: 100%;
	overflow: hidden;
}

#profile-image {
	height: 130px;
}

#profile-name-container {
	text-align: left;
}

#profile-name {
	white-space: nowrap;
}

#profile-edit-details-btn {
}

#profile-stats-container {
	clear: both;
	margin-top: 10px;
}

#profile-stats-container p {
	float: left;
	padding: 5px 8px;
	border-right: 2px solid #E0E0E0;
}

#profile-stats-container p:last-child {
	border-right: none;
}

#profile-stats-container #value {}

#profile-stat-user-created {}

#profile-stat-user-saved {}

#profile-stat-user-followers {}

#profile-stat-user-folllowing {}

/******************************************************************
	Profile Stories
******************************************************************/

#stories-container {
	clear: both;
}

#change-stories-view-btn-group {
	display: none;
  width: 300px;
  margin: auto;
}

#stories-list-view-btn {
	width: 150px;
}

#stories-map-view-btn {
	width: 150px;
}

/******************************************************************
	Stories List View
******************************************************************/

#stories-list-view {
	clear: both;
}

#stories-list {
	width: 60%;
	margin: auto;
}

.layout-column {
	float: left;
	margin: 10px;
	width:300px;
}

#no-stories-message {
	margin-top: 30px;
	color: #999;
	display: block;
  clear: both;
  text-align: center;
}

#no-stories-message p:first-child {
	font-size: 17px;
	font-weight: 600;
}

/******************************************************************
	Story Container
******************************************************************/

.story-container {
	width: 100%;
	text-align: inherit;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.story-container-header {
	padding: 0px;
}

.story-container-body {
	clear:both;
	padding: 0px 0px;
	cursor: pointer;
}

.story-container-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 80%;
	padding: 13px 6px;
}

.story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

.story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
}

.story-options-btn-container {
	width: 20%;
	height: 50px;
}

.story-options-btn {
	padding: 10px;
	text-align: -webkit-center;
	border-left: 1px solid #EFEFEF;
}

.story-options-btn:hover {
	background-color: #EFEFEF;
}

.story-options-btn div {
	height: 6px;
  width: 6px;
  margin: 3px;
  border: 1px solid #000;
}

.location-container {
	width: 100%;
	text-align: initial;
	/*background-color: #000000;*/
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
}

.location-container .glyph-icon {
	padding: 3px 5px;
}

.location-container .location {
	display: block;
	/*white-space: nowrap;*/
	padding: 5px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.image-container img {
	width:100%;
}

.story-stats-container {
	text-align: center;
	padding: 5px;
	font-size: 12px;
	background-color: #0A89B1;
  color: white;
	2px 5px;
}

.story-stats-likes {
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid #000;
}

.story-stats-saves {
	display: inline-block;
	padding-left: 10px;
}

.summary-container {
	position: relative;
	padding: 2px 7px;
	overflow: hidden;
}

.story-summary, .story-summary:focus {
	border:none;
	box-shadow: none;
	outline:none;
	font-size:14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
  line-height: 22px;
	text-align: initial;
	overflow:hidden;
	margin: 8px 0px;
	max-height: 100px;
}

.summary-container-overlay {
	height: 30px;
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0px;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.88));
}

.article-details-container {
	padding: 2px 7px;
}

.article-title {
	font-size: 16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: black;
	margin-top: 0px;
	font-weight: 400;
	margin-bottom: 2px;
}

.article-host {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
  color: black;
}

#create-story-btn-container {
	height: 200px;
	background-color: #eee;
	text-align: center;
	padding: 20px;
	cursor: pointer;
}

#create-story-btn-container:hover {
	background-color: #999;
}

#create-story-btn {
	display: table-cell;
	vertical-align: middle;
	height: 160px;
	width: 260px;
	border: 5px dashed #bbb;
	border-radius: 20px;
	font-size: 25px;
	color: #bbb;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;;
}

/******************************************************************
	Open Story Container
******************************************************************/

#create-edit-open-story-view {

}

#create-edit-open-story-view .modal-dialog {
	width: 90%;
}

#create-edit-open-story-view #create-story-container {
}

#create-edit-open-story-view .story-container-header {
	padding: 0px;
}

#create-edit-open-story-view .story-container-body {
	clear: both;
  padding: 20px;
	height: 580px;
	cursor: initial;
	overflow-y: scroll;
	overflow-x: hidden;
}

#create-edit-open-story-view .story-container-footer {
	clear: both;
	border-top: 1px solid #eee;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

#create-edit-open-story-view .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 50%;
	padding: 13px 6px;
	float: left;
}

#create-edit-open-story-view .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

#create-edit-open-story-view .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
}

#create-edit-open-story-view .location-container {
	width: 50%;
	text-align: initial;
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
	height: 50px;
	padding: 4px 4px;
	cursor: pointer;
}

#create-edit-open-story-view .location-container .glyph-icon {
	padding: 3px 5px;
	margin-top: 7px;
}

#create-edit-open-story-view .location-container .location {
	display: block;
	/*white-space: nowrap;*/
	padding: 9px 8px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
	vertical-align: middle;
	color: white;
}

#create-edit-open-story-view .location-container .location.wrapped-text {
	padding: 0px 8px;
}

#create-edit-open-story-view #story-text {
	max-width: 600px;
	margin: auto;
	margin-bottom:10px;
	line-height: 25px;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.44em;
	border: none;
	border-radius: 0px;
	padding: 5px;
	min-height: 35px;
}

#create-edit-open-story-view #story-text .placeholder {
	color: #aaa;
}

#create-edit-open-story-view #story-text:focus {
	outline: none;
}

#create-edit-open-story-view #story-text.editable {
	border-left: 1px solid #000;
}

#create-edit-open-story-view .image-container img {
	width:100%;
}

#create-edit-open-story-view #story-image-container {
	position: relative;
	padding: 10px;
	display:none;
	max-width: 450px;
	margin: auto;
}

#create-edit-open-story-view #remove-story-image {
	position: absolute;
	right: 15px;
	opacity: .6;
}

#create-edit-open-story-view #remove-story-image:hover {
	opacity: .8;
}


#create-edit-open-story-view #story-image {
	width:100%;
}

#create-edit-open-story-view #story-add-picture-button {
	position:relative;
	overflow:hidden;
}

#create-edit-open-story-view #image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#create-edit-open-story-view #image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#create-edit-open-story-view #story-insert-article {
	display:none;
	width: 100%;
	max-width: 500px;
  margin: auto;
	margin-top: 15px;
	margin-bottom: 55px;
}

#create-edit-open-story-view #story-insert-article p {
	margin:0px;
	color:#aaa
}

#create-edit-open-story-view #story-insert-article input {
	width: 100%;
	padding: 2px 5px;
	border-width: 4px;
	border: 1px solid #eee;
	width: 96%;
	float: left;
}

#create-edit-open-story-view #close-article-link {
	float: left;
	margin-left: 5px;
}

#create-edit-open-story-view .article-container {
	position: relative;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: initial;
	cursor:pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
	overflow:hidden;
	clear: both;
	max-width: 450px;
	margin: auto;
	z-index: 0;
}

#create-edit-open-story-view .article-container.large-view {
	max-width: initial;
	max-height: 540px;
}

#create-edit-open-story-view .article-img-container {
	position: relative;
  padding: 0px;
	width: 100%;
}

#create-edit-open-story-view .article-image {
	position: relative;
  padding: 0px;
	width: 100%;
}

#create-edit-open-story-view .article-embebed-iframe-container {
	display: none;
	position: relative;
	width:100%;
	overflow: hidden;
  border-radius: 5px;
}

#create-edit-open-story-view .article-embebed-iframe-container iframe {
	width:100%;
}

#create-edit-open-story-view .article-content-container {
	padding: 10px 16px;
}

#create-edit-open-story-view .article-title {
	font-size: 20px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: black;
	margin-top: 0px;
	font-weight: 500;
	margin-bottom: 2px;
}

#create-edit-open-story-view .article-description {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
}

#create-edit-open-story-view .article-author-host {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
	font-size: 12px;
}

#create-edit-open-story-view .story-set-location-view-container {
	display: none;
	clear: both;
	padding: 20px;
	height: 580px;
}

#create-edit-open-story-view #return-story-edit {
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
}

#create-edit-open-story-view .story-map-container {
	height:340px;
	position: relative;
}

#create-edit-open-story-view #story-map-canvas {
	height:340px;
}

#create-edit-open-story-view #story-map-location-input {
	padding: 5px;
	width: 100%;
	margin: 5px 0px;
}

#create-edit-open-story-view #set-location-btn {
	margin-top: 5px;
}

.pac-container {
  z-index: 1040 !important;
}

#create-edit-open-story-view #story-map-sight {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  pointer-events: none;
  margin-top: -50px;
  margin-left: -50px;
  background-image: url(/assets/images/map_sight_area.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#create-edit-open-story-view #story-map-sight-dot {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
  height: 6px;
  pointer-events: none;
  margin-top: -3px;
  margin-left: -3px;
	background-image: url(/assets/images/map_sight_dot.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#create-edit-open-story-view #create-story-options {
	padding: 7px;
	text-align: right;
}

#create-edit-open-story-view #close-story-view {
	display: none;
}

/******************************************************************
	Stories Map View
******************************************************************/

#stories-map-view {
	clear: both;
}

#map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#map-canvas img {
	max-width: inherit; /* this is a fixer for smth*/
}
