
/******************************************************************
	Fonts
******************************************************************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

@font-face {
    font-family: "HarlowSolid";
    src: url(../fonts/Harlow-Solid-Italic-Italic.ttf) format("truetype");
}

/******************************************************************
	General
******************************************************************/

body {
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

/******************************************************************
	Story body
******************************************************************/


#story-body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
}

.story-thumbnail-and-container {
  height: 300px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
  -webkit-flex-direction: column; /* Safari 6.1+ */
}

.details-overlay {
  background-color: rgba(51, 51, 51, 0.54);
  padding: 15px;
  color: rgb(222, 222, 222);
}

.placeholder-overlay {
  flex-grow: 1;
	-webkit-flex-grow: 1;
  background-color: rgba(51, 51, 51, 0.54);
}

.details-overlay .location-banner {
  margin: 0;
}

.story-location {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  padding-left: 3px;
  margin: 0px;
  color: #ffffff;
}

.story-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 25px;
  margin: 0px;
  font-style: italic;
}

.story-author-container {
  margin-bottom: 3px;
}

.story-author-thumbnail {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #ccc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.story-author {
  font-size: 11px;
  color: #aaa;
  margin: 0px;
  margin-left: 20px;
}

.story-stats-container {
  text-align: center;
  font-size: 11px;
  color: #fff;
}

.story-stats-container * {
  display: inline-block;
  padding: 0px 3px;
}

.story-likes {
  margin-right: 10px;
}

.story-saves {
}

.story-summary {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}

.section {
  margin-bottom: 15px;
}

.section:last-child {
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.location-banner-container {
  text-align: center;
}

.location-banner {
	display: inline-block;
	border: 1px solid #ccc;
	padding: 0px 20px;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 14px;}

.location-banner .location-icon {
	float: left;
  padding: 0px;
	color: #c7c7c7;
}

.location-name {
	float: left;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 300;
	margin: 0;
	padding: 0px 5px;
}

.story-text {
	width: 90%;
  margin: auto;
	font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 32px;
}

.text-normal-size {
	font-size: 15px;
}

.text-title-size {
  font-size: 17px;
  font-weight: bold;
}

.picture-container.onfocus:not([readonly]) img , .picture-container:hover:not([readonly]) img{
	outline: 3px solid #dad
}

.picture-container.onfocus .picture-controls, .picture-container:hover .picture-controls {
	display: block;
}

.picture-frame {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.picture-frame img {
	width: 100%;
}

.picture-frame {
	width: 100%;
}

.picture-controls {
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -152px;
	opacity: .8;
}

p.picture-caption {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 15px;
	font-weight: 300;
}

p.picture-caption:empty:not([readonly])::before {
	content:"picture caption (optional)";
	color: #ccc;
	text-align: center;
}



/******************************************************************
	Message Windows
******************************************************************/

.alert-message {
  position: relative;
  top: 87%;
  width: 40%;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 400;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  -moz-box-shadow:     0px 5px 10px 2px rgba(1,1,1,.3);
	-webkit-box-shadow:  0px 5px 10px 2px rgba(1,1,1,.3);
	box-shadow: 0px 5px 10px 2px rgba(1,1,1,.3);
  pointer-events: none;
  text-align: center;
}

.alert-message p {
  color: #fff;
  font-size: 12px;
  margin: 0px;
}

/******************************************************************
	Banners
******************************************************************/

#banner-app {
  position: fixed;
  z-index: 1000;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 60px;
  bottom: 0px;
  padding: 10px 20px;
}

#banner-app .close-btn {
  position: absolute;
  right: 7px;
  top: 7px;
}

#banner-app * {
  float: left;
}

#banner-app-logo {
  width: 40px;
  height: 40px;
  background-image: url("/assets/images/lir-logo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#banner-app p {
  padding: 9px;
}

#banner-app a {
  position: absolute;
  width: 90px;
  right: 30px;
  margin-top: 4px;
  margin-left: 20px;
}

/******************************************************************
	Icons
******************************************************************/

.glyph {
	display: inline-block;
	font-family:"Flaticon";
	line-height: 1;
	margin-left:0px;
	vertical-align:middle;
}

.glyph:before {
	margin-left:0px;
	font-size: 20px;
}

.glyph-icon {
	padding: 10px;
	display: inline-block;
	font-family:"Flaticon";
}

.icon-no-padding {
  padding: 0 !important;
}

.icon-no-margins::before {
  margin:0px !important;
}

.icon-round-borders {
  border-radius: 100%;
}

.icon-shadow {
  -moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.icon-50px.glyph-icon:before, .icon-xxxlarge.glyph:before, .icon-50px.glyph:before {
	font-size: 50px;
}

.icon-40px.glyph-icon:before, .icon-xxlarge.glyph:before, .icon-40px.glyph:before {
	font-size: 40px;
}

.icon-30px.glyph-icon:before, .icon-xlarge.glyph:before, .icon-30px.glyph:before {
	font-size: 30px;
}

.icon-25px.glyph-icon:before, .icon-large.glyph:before, .icon-25px.glyph:before {
	font-size: 25px;
}

.icon-20px.glyph-icon:before, .icon-medium.glyph:before, .icon-20px.glyph:before {
	font-size: 20px;
}

.icon-15px.glyph-icon:before, .icon-small.glyph:before, .icon-15px.glyph:before {
	font-size: 15px;
}

.icon-12px.glyph-icon:before, .icon-xsmall.glyph:before, .icon-12px.glyph:before {
	font-size: 12px;
}

.icon-8px.glyph-icon:before {
	font-size: 8px;
}

/******************************************************************
	Animations
******************************************************************/

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
