
body {
	overflow:hidden;
}

section {
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/******************************************************************
	Content Wrapper
******************************************************************/

#categories-list-wrapper {
	height:600px;
	width:10%;
	overflow-y: scroll;
}

#item-list-wrapper {
	height:600px;
	width:20%;
	overflow-y: scroll;
}

#article-content-wrapper {
	height:600px;
	width:40%;
	overflow-y: scroll;
}

#map-wrapper {
	height:600px;
	width:30%;
	position: relative;
}

#map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#map-sight {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	pointer-events: none;
	margin-top: -50px;
	margin-left: -50px;
	background-image: url(/assets/images/map_sight_area.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#map-sight-dot {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	pointer-events: none;
	margin-top: -3px;
	margin-left: -3px;
	background-image: url(/assets/images/map_sight_dot.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#article-content {
	position: relative;
}

#article-content .highlight {
	opacity: .7;
	padding: 4px;
	border-style: dotted;
	border-width: 1px;
	border-color: rgba(100,100,100,.8);
}

#article-content .hidecontent {
	height: 3px;
	padding: 0px;
	background-color: #444;
	overflow: hidden;
}

#article-content .control-remove-content.glyph-icon {
	padding: 1px 6px;
	position: relative;
	margin-top: -27px;
	margin-right: 20px;
	float: right;
	background-color: white;
}

#article-content * {
	padding: 5px;
}

#article-content-image {
	width: 100%;
}

.floating-box {
	position:absolute;
	background-color: white;
	border-width: thin;
	border-color: #999;
	border-radius: 5px;
}

.highlight-location-content {
	opacity: 1;
	padding: 4px;
	border-style: dotted;
	border-width: 1px;
	border-color: rgba(100,100,100,.8);
}

.selected-location {

}

.color-1 {
	background-color: #ff6666;
	color: white;
}

.color-2 {
	background-color: #ff0066;
	color: white;
}

.color-3 {
	background-color: #66b2ff;
}

.color-4 {
	background-color: #33cccc;
}

.color-5 {
	background-color: #66ccff;
}

.color-6 {
	background-color: #bbff99;
}

#article-content .control-add-location.deselect-button.glyph-icon {
	padding: 1px 2px;
  height: 15px;
  width: 15px;
	position: relative;
	margin-top: -20px;
	margin-right: 20px;
	float: right;
}

#article-content .control-add-location.location-button.glyph-icon {
	padding: 3px 5px;
	height: 25px;
	width: 25px;
	float: right;
	position: relative;
	margin-bottom: -22px;
	margin-right: 17px;
}

#article-content .control-add-location.glyph-icon:before {
	vertical-align: top;
}
