
body {
  overflow-y: hidden;
}

section{
	position: relative;
}

h1, h2, h3, h4, p, a {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
}

.animate-transition {
	-webkit-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.modal-footer {
	margin-top: 0px;
	margin-top: 0px;
	padding: 10px;
}

.list-group {
    margin-bottom: 0px;
}

/******************************************************************
	Content Wrapper
******************************************************************/

#content-wrapper {
	/*height:85%;*/
	 overflow-y:scroll;
}

/******************************************************************
	Collection Details
******************************************************************/

#collection-details-container {
	text-align: center;
	height: 100%;
	color: white;
	background: rgba(0,0,0,.3);
}

#collection-details-img-container {
	background-size: cover;
	height: 900px;
}

#collection-opt-buttons {
	float: right;
	padding: 15px 20px;
}

#collection-opt-buttons * {
	float: left;
}

#editing-opt-buttons {
	display: none;
}

#toggle-editing-mode-btn-group {
  margin-left: 10px;
}

#follow-collection-btn {
	display: none;
	overflow: hidden;
	background: transparent;
	border: 2px solid white;
	color: white;
	margin-top: 20px;
}

#follow-collection-btn:hover {
	background: rgba(0, 0, 0, 0.4);
}

#collection-container {
	display: inline-block;
}

#collection-image-container {
	float:left;
	margin: 10px;
	border-radius: 100%;
	overflow: hidden;
}

#collection-image {
	height: 130px;
}

#collection-authors-container {
	text-align: left;
}

#add-collection-authors-btn {
	display: none;
	overflow: hidden;
	background: transparent;
	border: 2px solid white;
	color: white;
}

#add-collection-authors-btn:hover {
	background: rgba(0, 0, 0, 0.4);
}

#collection-name {
	white-space: nowrap;
	background: transparent;
	outline: none;
	border: none;
	font-size: 55px;
	color: white;
	text-align: center;
	width: 100%;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 20px;
	margin-top: 100px;
}

#collection-description {
	width: 50%;
	margin: auto;
	outline: none;
	font-size: 27px;
	font-weight: 300;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-style: italic;
	line-height: 36px;
	margin-bottom: 20px;
}

#collection-description .placeholder {
  color: #aaa;
}

#collection-authors {
	margin-top: 20px;
	width: 80%;
  margin: auto;
}

#collection-authors .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	padding: 13px 6px;
	display: inline-block;
}

#collection-authors .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

#collection-authors .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
	color: white;
}

#collection-edit-picture-btn {
	position:relative;
	overflow:hidden;
	background: transparent;
	border: 2px solid white;
	color: white;
	margin-bottom: 20px;
	opacity: 0;
	pointer-events: none;
}

#collection-edit-picture-btn.enabled {
	opacity: 1;
	pointer-events: all;
}

#collection-edit-picture-btn:hover {
	background: rgba(0, 0, 0, 0.4);
}

#image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#collection-stats-container {
	clear: both;
	margin-top: 20px;
	display: inline-block;
}

#collection-stats-container p {
	float: left;
	padding: 5px 8px;
	border-right: 2px solid #E0E0E0;
}

#collection-stats-container p:last-child {
	border-right: none;
}

#collection-stats-container #value {}

#collection-stat-user-created {}

#collection-stat-user-saved {}

#collection-stat-user-followers {}

#collection-stat-user-folllowing {}

/******************************************************************
	Collection Creation View
******************************************************************/

#create-story-collection-modal #story-collection-title-input{
	margin-top: 20px;
	width: 100%;
	font-size: 20px;
	border: none;
	border-left: 1px solid #000;
	padding: 5px;
	outline: none;
}

/******************************************************************
	Collection Selection View
******************************************************************/

#choose-story-collection-modal .modal-dialog {
	width: 350px;
}

/******************************************************************
	Collection Author Selection View
******************************************************************/

#user-email-input {
	width: 470px;
	margin-right: 10px;
	padding: 13px 3px 0px 3px;
	font-size: 15px;
	border: none;
	border-bottom: 1px solid #000;
	outline: none;
}

#add-user-collection-modal button {
	float: right;
}

#add-user-collection-modal .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 100%;
	padding: 13px 6px;
	cursor: pointer;
}

#add-user-collection-modal .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

#add-user-collection-modal .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
	color: black;
}

#add-user-collection-modal .list-group {
  margin-top: 10px;
}

#add-user-collection-modal .label {
  display: none;
	font-size: 12px;
	color: #999;
}


/******************************************************************
	Collection Stories
******************************************************************/

#stories-container {
	clear: both;
	margin-top: 40px;
	padding-bottom: 40px;
	opacity: 0;
}

#change-stories-view-btn-group {
	display: none;
  width: 300px;
  margin: auto;
}

#stories-list-view-btn {
	width: 150px;
}

#stories-map-view-btn {
	width: 150px;
}

/******************************************************************
	Stories List View
******************************************************************/

#stories-list-view {
	clear: both;
}

#stories-list-view-left-container {
	float: left;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #000;
	margin-top: 25px;
}


#story-collections-list li {
	display: block;
	cursor: pointer;
}

#story-collections-list li a {
  color: black;
}

#create-story-collection-btn {
	cursor: pointer;
}

#stories-list {
	width: 60%;
	margin: auto;
}

.layout-column {
	float: left;
	margin: 10px;
	width:300px;
}

#no-stories-message {
	margin-top: 30px;
	color: #999;
	display: block;
  clear: both;
  text-align: center;
}

#no-stories-message p:first-child {
	font-size: 17px;
	font-weight: 600;
}

/******************************************************************
	Small Story Container
******************************************************************/

.story-container.sm-container {
	width: 100%;
	text-align: inherit;
	background-color: white;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.sm-container .story-container-header {
	padding: 0px;
}

.sm-container .story-container-body {
	clear:both;
	padding: 0px 0px;
	cursor: pointer;
}

.sm-container .story-container-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}

.sm-container .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 80%;
	padding: 13px 6px;
}

.sm-container .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

.sm-container .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
	color: black;
}

.sm-container .story-options-btn-container {
	width: 20%;
	height: 50px;
}

.sm-container .story-options-btn {
	padding: 10px;
	text-align: -webkit-center;
	border-left: 1px solid #EFEFEF;
}

.sm-container .story-options-btn:hover {
	background-color: #EFEFEF;
}

.sm-container .story-options-btn div {
	height: 6px;
  width: 6px;
  margin: 3px;
  border: 1px solid #000;
}

.sm-container .location-container {
	display: table;
	width: 100%;
	text-align: initial;
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
}

.sm-container .location-container .glyph-icon {
	padding: 3px 5px;
}

.sm-container .location-container .location {
	display: table-cell;
	/*white-space: nowrap;*/
	padding: 0px 8px 0px 0px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 0px;
	vertical-align: middle;
	width:100%;
}

.sm-container .image-container img {
	width:100%;
}

.sm-container .story-stats-container {
	text-align: center;
	padding: 5px;
	font-size: 12px;
	background-color: #0A89B1;
  color: white;
	2px 5px;
}

.sm-container .story-stats-likes {
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid #000;
}

.sm-container .story-stats-saves {
	display: inline-block;
	padding-left: 10px;
}

.sm-container .summary-container {
	position: relative;
	padding: 2px 7px;
	overflow: hidden;
	width: 100%;
}

.sm-container .story-summary, .sm-container .story-summary:focus {
	border:none;
	box-shadow: none;
	outline:none;
	font-size:14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
  line-height: 22px;
	text-align: initial;
	overflow:hidden;
	margin: 8px 0px;
	max-height: 100px;
}

.sm-container .summary-container-overlay {
	height: 30px;
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0px;
	background: -webkit-linear-gradient(bottom, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0.88));
	background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0.88));
}

.sm-container .article-details-container {
	padding: 2px 7px;
}

.sm-container .article-title {
	font-size: 16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: black;
	margin-top: 0px;
	font-weight: 400;
	margin-bottom: 2px;
}

.sm-container .article-host {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
  color: black;
}

/******************************************************************
	Story Container
******************************************************************/

.lg-container.story-container {
	width: 100%;
	/*max-width:600px;*/
	text-align: inherit;
	background-color: white;
	border-radius: 0px;
	margin: auto;
	/*margin-top: 10px;*/
	margin-bottom: 10px;
	/*-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);*/
}

.lg-container .story-container-header {
	padding: 0px;
}

.lg-container .story-container-body {
	padding: 20px 15px;
	clear: both;
	cursor: pointer;
}

.lg-container .story-container-footer {
	padding: 0px 15px;
	padding-bottom: 10px;
	text-align: right;
}

.lg-container .story-location-view-container {
	display: none;
	clear: both;
  padding: 20px;
}

@media (max-width: 768px) {
	.lg-container .story-container-body  {
		padding: 0px;
	}
}

.lg-container .author-container {
	text-align: initial;
	height: 60px;
	width: 80%;
	padding: 20px;
}

.lg-container .story-author-thumbnail {
	width:46px;
	height:46px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -12px;
	border-radius:23px;
	margin-right: 10px;
}

.lg-container .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	color: black;
}

.lg-container .story-options-btn-container {
	width: 60px;
	height: 60px;
}

.lg-container .story-options-btn {
	padding: 10px;
	height: 100%;
	text-align: -webkit-center;
	border-left: 1px solid #EFEFEF;
}

.lg-container .story-options-btn:hover {
	background-color: #EFEFEF;
}

.lg-container .story-options-btn div {
	height: 6px;
  width: 6px;
  margin: 3px;
  border: 1px solid #000;
}

.story-container .option-remove {
	display: none;
}

.lg-container .location-container {
	display: table;
	width: 100%;
	text-align: initial;
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
	height: 50px;
	padding: 4px 4px;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

.lg-container .location-container .glyph-icon {
	padding: 3px 5px;
	margin-top: 7px;
}

.lg-container .location-container .location {
	display: table-cell;
	padding: 0px 8px 0px 4px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-left: 5px;
	vertical-align: middle;
	color: white;
	width: 100%;
}

.lg-container .image-container {
	margin-top: 15px;
	margin-bottom:15px;
}

.lg-container .image-container img {
	width:100%;
}

.lg-container .summary-container.collapsed {
	position: relative;
	max-height: 100px;
	overflow: hidden;
}

.lg-container .summary-container-overlay {
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
}


.lg-container .story-summary, .lg-container .story-summary:focus {
	border:none;
	box-shadow: none;
	outline:none;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	resize:none;
	background-color: transparent;
    line-height: 25px;
	text-align: initial;
	overflow:hidden;
}

.lg-container .story-like-button {
	margin-right: 10px;
}

.lg-container .story-unpublish-button {
	margin-right: 10px;
}

/* Story Article */

.lg-container .article-container {
	position: relative;
	width:100%;
	display: block;
	border-radius: 5px;
	margin-top: 15px;
	text-align: initial;
	cursor:pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
	overflow:hidden;
	pointer-events: none;
}

/*.article-container > *:not(#article-img-container) {
	padding:7px;
}*/

.lg-container .article-image {
	width:100%;
	/*margin-bottom:10px;*/
}

.lg-container .article-content-container {
	padding: 10px 16px;
}

.lg-container .article-title {
	font-size: 20px;
	color: black;
	margin-top: 0px;
	font-weight: 400;
}

.lg-container .article-description-container.collapsed {
	max-height: 100px;
	position: relative;
	overflow: hidden;
}

.lg-container .article-description-overlay {
	position: absolute;
	top: 70px;
	height: 30px;
	width: 100%;
	background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -o-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
	background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.32) 70%, rgba(255, 255, 255, 0));
}

.lg-container .article-description {
	border:none;
	box-shadow: none;
	outline:none;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	resize:none;
	overflow:hidden;
	cursor:pointer;
	font-size: 16px;
	line-height: 1.44em;
	font-weight: 300;
}

.lg-container .article-embebed-iframe-container {
	display: none;
	position: relative;
	width:100%;
	overflow: hidden;
  border-radius: 5px;
}

.lg-container .article-embebed-iframe-container iframe {
	width:100%;
}

.lg-container .article-host-author {
	font-weight: 300;
}

/******************************************************************
	Open Story Container
******************************************************************/

#story-view {

}

#story-view .modal-dialog {
	width: 90%;
}

#story-view #create-story-container {
}

#story-view .story-container-header {
	padding: 0px;
}

#story-view .story-container-body {
	clear: both;
  padding: 20px;
	/*height: 580px;*/
	cursor: initial;
	overflow-y: scroll;
	overflow-x: hidden;
	max-width: 600px;
	margin: auto;
}

#story-view .story-container-footer {
	clear: both;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	max-width: 600px;
	margin: auto;
}

#story-view .author-container {
	margin-bottom:0px;
	text-align: initial;
	height: 50px;
	width: 50%;
	padding: 13px 6px;
	float: left;
}

#story-view .story-author-thumbnail {
	width:36px;
	height:36px;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
	float:left;
	margin-top: -6px;
	border-radius:18px;
	margin-right: 7px;
}

#story-view .story-author-name {
	font-size:16px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-align: initial;
	overflow: hidden;
	color: black;
}

#story-view .location-container {
	display: table;
	width: 50%;
	text-align: initial;
	background-image: url(/assets/images/map-bk.jpg);
	color: white;
	height: 50px;
	padding: 4px 4px;
	cursor: pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
}

#story-view .location-container .glyph-icon {
	padding: 3px 5px;
	margin-top: 7px;
}

#story-view .location-container .location {
	display: table-cell;
	/*white-space: nowrap;*/
	padding: 0px 8px 0px 4px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
	vertical-align: middle;
	color: white;
	width: 100%;
}

#story-view #story-text {
	max-width: 600px;
	margin: auto;
	margin-bottom:10px;
	line-height: 25px;
	font-size:16px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 1.44em;
	border: none;
	border-radius: 0px;
	padding: 5px;
	min-height: 35px;
}

#story-view #story-text .placeholder {
	color: #aaa;
}

#story-view #story-text:focus {
	outline: none;
}

#story-view #story-text.editable {
	border-left: 1px solid #000;
}

#story-view .image-container img {
	width:100%;
}

#story-view #story-image-container {
	position: relative;
	padding: 10px;
	display:none;
	max-width: 600px;
	margin: auto;
}

#story-view #remove-story-image {
	position: absolute;
	right: 15px;
	opacity: .6;
}

#story-view #remove-story-image:hover {
	opacity: .8;
}


#story-view #story-image {
	width:100%;
}

#story-view #story-add-picture-button {
	position:relative;
	overflow:hidden;
}

#story-view #image-upload-form {
	opacity: 0;
	top: 0px;
	position: absolute;
	height: 100%;
}

#story-view #image-upload-form  input{
	height: 100%;
	width: 100%;
	cursor:pointer;
}

#story-view #story-insert-article {
	display:none;
	width: 100%;
	max-width: 600px;
  margin: auto;
	margin-top: 15px;
	margin-bottom: 55px;
}

#story-view #story-insert-article p {
	margin:0px;
	color:#aaa
}

#story-view #story-insert-article input {
	width: 100%;
	padding: 2px 5px;
	border-width: 4px;
	border: 1px solid #eee;
	width: 96%;
	float: left;
}

#story-view #close-article-link {
	float: left;
	margin-left: 5px;
}

#story-view .article-container {
	position: relative;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	text-align: initial;
	cursor:pointer;
	-moz-box-shadow:     0px 0px 10px rgba(1,1,1,.4);
	-webkit-box-shadow:  0px 0px 10px rgba(1,1,1,.4);
	box-shadow:          0px 0px 10px rgba(1,1,1,.4);
	overflow:hidden;
	clear: both;
	max-width: 600px;
	margin: auto;
	z-index: 0;
}

#story-view .article-container.large-view {
	max-width: initial;
	max-height: 540px;
}

#story-view .article-img-container {
	position: relative;
  padding: 0px;
	width: 100%;
}

#story-view .article-image {
	position: relative;
  padding: 0px;
	width: 100%;
}

#story-view .article-embebed-iframe-container {
	display: none;
	position: relative;
	width:100%;
	overflow: hidden;
  border-radius: 5px;
}

#story-view .article-embebed-iframe-container iframe {
	width:100%;
}

#story-view .article-content-container {
	padding: 10px 16px;
}

#story-view .article-title {
	font-size: 20px;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	color: black;
	margin-top: 0px;
	font-weight: 500;
	margin-bottom: 2px;
}

#story-view .article-description {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
}

#story-view .article-author-host {
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
	text-decoration: none;
	outline: none;
	line-height: 1.6em;
	font-weight: 300;
	font-size: 12px;
}

#story-view .story-location-view-container {
	display: none;
	clear: both;
	padding: 20px;
	height: 580px;
}

#story-view #return-story-edit {
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
}

#story-view #story-map-view {
	height:340px;
	max-width: 600px;
	margin: auto;
	position: relative;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
}

#story-view #story-map-canvas {
	height:340px;
}

#story-view #story-map-location-input {
	padding: 5px;
	width: 100%;
	margin: 5px 0px;
}

#story-view #set-location-btn {
	margin-top: 5px;
}

.pac-container {
  z-index: 1040 !important;
}

#story-view #story-map-sight {
	position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  pointer-events: none;
  margin-top: -50px;
  margin-left: -50px;
  background-image: url(/assets/images/map_sight_area.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#story-view #story-map-sight-dot {
  position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
  height: 6px;
  pointer-events: none;
  margin-top: -3px;
  margin-left: -3px;
	background-image: url(/assets/images/map_sight_dot.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#story-view #create-story-options {
	padding: 7px;
	text-align: right;
}

#story-view #close-story-view {
	display: none;
}

/******************************************************************
	Stories Map View
******************************************************************/

#stories-map-view {
	clear: both;
}

#map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#map-canvas img {
	max-width: inherit; /* this is a fixer for smth*/
}

/******************************************************************
	Collection Map
******************************************************************/

#collection-map-container {
	position: relative;
	margin: auto;
	width:100%;
	height:420px;
	border-radius:0px;
	overflow:hidden;
	-webkit-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.62);
}

@media (min-width: 768px) {
	#collection-map {

	}
}

#collection-map-canvas {
	margin: 0;
	padding: 0;
	margin-top:0px;
	height:100%;
	width:100%;
}

#collection-map-cover-left {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 30%;
	max-width: 250px;
	z-index: 1;
	padding: 10px 0px 10px 10px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,.6), rgba(0,0,0,0));
	background: -o-linear-gradient(right, rgba(0,0,0,.6), rgba(0,0,0,0));
	background: -moz-linear-gradient(right, rgba(0,0,0,.6), rgba(0,0,0,0));
	background: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,0));
}

#collection-map-cover-right {
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0%;
}

.marker-cluster-baloon {
	background-color: rgba(0, 0, 0, 0.4) !important;
	border: 1px solid #fff !important;
	border-radius: 100% !important;
	font-weight: 500 !important;
	font-family: "Lato", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif !important;
}

#collection-location-input {
	z-index: 1;
	/*position: absolute;*/
	/*left: 0px;*/
	/*top: 0px;*/
	padding: 3px;
	width: 55%;
	margin-right: 20px;
	margin-top: 20px;
	font-size: 12px;
}

#collection-map-container .image-container {
	max-height: 160px;
	overflow: hidden;
}
