

h2 { margin-top: 50px;}

h3 {
	margin-bottom: 30px;
	font: 20px "Lucida Grande", "Helvetica Neue", sans-serif;
}

.sprited {
    line-height: 1000px;
    overflow: hidden;
    display: block;
}

  #sign_up {
        -moz-border-radius: 6px;
        background: #eef2f7;
        -webkit-border-radius: 6px;
        border: 1px solid #536376;
        -webkit-box-shadow: rgba(0,0,0,.6) 0px 2px 12px;
        -moz-box-shadow:  rgba(0,0,0,.6) 0px 2px 12px;;
        padding: 14px 22px;
        width: 600px;
        position: relative;
        display: none;
    }
    #sign_up #sign_up_form {
        margin-top: 13px;
    }
    #sign_up label {
        display: block;
        margin-bottom: 10px; 
        color: #536376;
        font-size: .9em;
    }
  
    #sign_up label input {
        display: block;
        width: 393px;
        height: 31px;
        padding: 2px 8px;
        font-size: 1.2em;
        line-height: 31px;
    }
    
    #popup_title {
        width: 228px;
        height: 23px;
    }
    #left_out {
        width: 113px; height: 16px;
    }
    #sign_up_form {
        position: relative;
        padding-bottom: 54px;
        margin-bottom: 12px;
    }
    #actions {
        float: left;
        position: absolute;
        right: 0;
        height: 31px;
        bottom: 20px;
    }
    input.form_button {
        float: left;
        width: 93px; height: 31px;
        margin-right: 15px;
    }
  
    #close_x { 
        width: 24px; height: 23px;
        overflow: hidden; line-height: 1000px;
        display: block;
        position: absolute; top: 5px; right: 5px;
        background-position: -387px -102px;
    }
    #usage { background-position: -323px -172px; width: 67px; height: 22px;}