@(collection: controllers.json.StoryCollection)

@main("") {
	<title>LIR | @collection.name</title>
	<meta name="description" content="@collection.description" />

	<!-- Twitter Card data -->
	<meta name="twitter:site" content="lostinreality.net">
	<meta name="twitter:title" content="@collection.name - Lost in Reality">
	<meta name="twitter:description" content="@collection.description">
	<meta name="twitter:image" content="http://139.162.151.189@collection.imageUrl">

	<!-- Open Graph data -->
	<meta property="og:title" content="@collection.name - Lost in Reality" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="lostinreality.net"/>
	<meta property="og:image" content="http://139.162.151.189@collection.imageUrl" />
	<meta property="og:description" content="@collection.description" />

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/collection.css")">

	<script src="/assets/javascripts/controls/collection-view-handlers.js" type="text/javascript"></script>

}{

<!----------------->
<!--   Content   -->
<!----------------->

<section id="content-wrapper">

	<!----------------------->
	<!--  Collection Details  -->
	<!----------------------->

	<div id="collection-details-img-container">
		<div id="collection-details-container" >
			<div id="collection-opt-buttons" >
				<div id="editing-opt-buttons">
					<p>Editing mode:</p>
					<div id="toggle-editing-mode-btn-group" class="btn-group">
						<button id="editing-mode-on-btn" class="btn btn-default btn-xs" onclick="enableEditingMode()">On</button>
						<button id="editing-mode-off-btn" class="btn active btn-default btn-danger btn-xs" onclick="disableEditingMode()">Off</button>
					</div>
					<p>Story status:</p>
					<div id="toggle-publish-status-btn-group" class="btn-group">
						<button id="private-status-btn" class="btn active btn-danger btn-default btn-xs" onclick="unPublishCollection()">private</button>
						<button id="public-status-btn" class="btn btn-default  btn-xs ga-event-collection-publish" onclick="publishCollection()">public</button>
					</div>
				</div>
			</div>
			<input id="collection-name" readonly type="text">
			<div id="collection-description" class="editable empty" contenteditable="false" placeholder="write a description"></div>
			<a id="collection-edit-picture-btn" class="btn btn-default">Edit image
				<form enctype="multipart/form-data" id="image-upload-form">
					<input id="collection-edit-picture" name="profileImg[]" type="file" />
				</form>
			</a>
			<div id="collection-authors"/></div>
			<div>
				<div id="collection-stats-container" >
					<p id="collection-stat-stories"><span id="value"></span> Stories</p>
					<p id="collection-stat-followers" ><span id="value"></span> Followers</p>
				</div>
			</div>
			<div>
				<button id="follow-collection-btn" class="btn btn-default btn-lg" onclick="followCollection()">Follow</button>
				<!-- <button id="show-stories-btn" class="btn btn-default" onclick="showStoriesAndMap()">Stories >></button> -->
			</div>
		</div>
	</div>

	<!-------------------------------->
	<!--  Collection Map & Stories  -->
	<!-------------------------------->

	<div id="collection-map-and-stories-container">

		<!----------------------->
		<!--  Collection Map   -->
		<!----------------------->

		<div id="collection-map-container" >
			<div id="map-canvas"></div>
			<div id="map-viewport">
				<div id="map-sight"></div>
				<div id="map-region"></div>
			</div>
		</div>

		<!------------------------------->
		<!--  Collection Map Details   -->
		<!------------------------------->

		<div id="collection-map-details-container">
			<div id="collection-thumbnail-container">
				<span class="glyph-icon icon-no-margins icon-20px flaticon-nature">
			</div>
			<p id="collection-details-name"></p>
		</div>

		<!----------------------------->
		<!--  Search & Controls Bar  -->
		<!----------------------------->

		<div id="search-and-controls-bar">
			<div class="input-group">
				<input id="search-input" class="form-control" placeholder="Search for a place...">
				<div class="input-group-btn">
					<!-- <button id="search-btn" type="button" class="btn btn-success" onclick="searchBoxGetPlaces()"><span class="glyph icon-no-margins icon-15px flaticon-search"></button> -->
					<button id="zoom-in" type="button" class="btn btn-default" onclick="zoomInMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom in"><span class="glyph icon-no-margins icon-15px flaticon-circle"></button>
					<button id="zoom-out" type="button" class="btn btn-default" onclick="zoomOutMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom out"><span class="glyph icon-no-margins icon-15px flaticon-circle-1"></button>
				</div>
			</div>
			<button id="create-story" type="button" class="btn btn-default ga-event-collection-createstory" onclick="openCreateStoryView()" data-toggle="tooltip" data-placement="left" title="Create a new story."><span class="glyph icon-no-margins icon-15px flaticon-draw"></button>
			<button id="connect-stories" type="button" class="btn btn-default ga-event-collection-connect" onclick="startConnectingStories()" data-toggle="tooltip" data-placement="left" title="Create a path, connecting stories."><span class="glyph icon-no-margins icon-15px flaticon-road-1"></button>
		</div>

		<!--------------->
		<!--  Stories  -->
		<!--------------->

		<div id="story-containers-wrapper">
			<div id="story-grid-layout"></div>
			<div id="story-large-layout">
				<div id="story-large-layout-controllers">
					<div class="lg-arrow-left"></div>
					<div class="lg-arrow-right"></div>
				</div>
				<div id="story-large-layout-container"></div>
			</div>

		</div>

	</div>

</section>


<!-------------------------------------------------->
<!--  Create Collections /Add Stories/Add Users   -->
<!-------------------------------------------------->

<!-- Create Story Collections modal -->
<div id="create-story-collection-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
				<h4 class="modal-title">Create Story Collection</h4>
				<input id="story-collection-title-input" type="text" placeholder="Collection title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeCreateCollectionView()">Close</button>
        <button id="create-collection-btn" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Choose Story Collections modal -->
<div id="choose-story-collection-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<div class="modal-body"></div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeChooseCollectionView()">Close</button>
      </div>
		</div>
  </div>
</div>

<!-- Add Users to Collections modal -->
<div id="add-user-collection-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-body">
				<h4 class="modal-title">Find user</h4>
				<input id="user-email-input" type="text" placeholder="place user email">
				<button type="button" class="btn btn-default" onclick="lookForUser()">Search</button>
				<div class="list-group"></div>
				<p class="label">No user was found</p>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeAddUserCollectionView()">Close</button>
      </div>
		</div>
  </div>
</div>

}
