@(storyId: Long)

@main("") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/create.css")">

	<script src="/assets/javascripts/controls/create-view-handlers.js" type="text/javascript"></script>
	
}{
	
<!-- <img id="lir-logo" src="/assets/images/lir-logo-banner-simple-small.png" alt="lir-logo"></img>

<div id="navbar-buttons">
	<div id="user-dropdown-button" class="">
		<button id="user-button" type="button" class="dropdown-toggle ga-event-general-login" onclick=location.href="/login">Log in</button>
		<ul id="user-dropdown" class="dropdown-menu" role="menu">
			<li><a class="ga-event-general-maker" href="/map">Story Maker</a></li>
			<li id="story-dropdown-options-divider" class="divider"></li>
			<li><a href="/logout">Log out</a></li>
		</ul>
	</div>
		<button class="ga-event-general-maker" type="button" onclick=location.href="/map">Create Story</button>
		<button class="ga-event-general-signup" id="sign-up-button" type="button" onclick=location.href="/signup">Sign up</button>
</div> -->

<!----------------->
<!--   Content   -->
<!----------------->

<section id="content-wrapper">
	<div id="status" >story saved</div>
	<div id="delete-dialogue" class="content-dialogue">
		<button type="button" class="close" onclick="$('#delete-dialogue').fadeOut(200);" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>This story will be deleted forever.<br>It can't be undone.</p>
		<p>Would you like to proceed?</p>
		<a id="dismiss-dialogue" class="btn btn-info" onclick="$('#delete-dialogue').fadeOut(200);">No</a>
		<a id="accept-dialogue" class="btn btn-warning" onclick="deleteStory()">Yes</a>
	</div>
	
	<div id="publish-dialogue" class="content-dialogue">
		<button type="button" class="close" onclick="$('#publish-dialogue').fadeOut(200);" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>You are about to make this story public.<br>Congratulations! =)</p>
		<p>To publish, you need to make sure that you own the rights of the content of the story or you are allowed to use it and publish it.</p>
		<p>Use the link below to share the story privately before making it public.</p>
		<p id="link">@("http://lostinreality.net/read/" + storyId )</p>
		<p>Would you like to publish?</p> 
		<a id="dismiss-dialogue" class="btn btn-info" onclick="$('#publish-dialogue').fadeOut(200);">Cancel</a>
		<a id="accept-dialogue" class="btn btn-warning ga-event-map-publish" onclick="publishStory()">Publish</a>
	</div>
	
	<div id="share-dialogue" class="content-dialogue">
		<button type="button" class="close" onclick="$('#share-dialogue').fadeOut(200);" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>Your story is now published.<br>Congratulations! =)</p>
		<p>You may want to share it with your friends.</p>
		<div class="social-wrapper">
			<a class="social facebook facebook-shr-btn" onclick="openFacebookSharePopup()"></a>
			<a class="social twitter twitter-shr-btn" onclick="openTwitterSharePopup()"></a>
			<a class="social mail" onclick="$('#share-dialogue').fadeOut(200); $('#link-dialogue').fadeIn(200);" ></a>
		</div>
		<p>If you wish to unpublish the story, click bellow.</p> 
		<!-- <a id="dismiss-dialogue" class="btn btn-info" onclick="$('#share-dialogue').fadeOut(200);">Cancel</a> -->
		<a id="accept-dialogue" class="btn btn-warning ga-event-map-publish" onclick="unpublishStory()">Unpublish</a>
	</div>
	
	<div id="link-dialogue" class="content-dialogue">
		<button type="button" class="close" onclick="$('#link-dialogue').fadeOut(200);" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<p>@("http://lostinreality.net/read/" + storyId )</p>
		<p>You can use this link to share your story privately.</p> 
		<a id="dismiss-dialogue" class="btn btn-info" onclick="$('#link-dialogue').fadeOut(200);">Ok</a>
	</div>
	
	
<!-------------------->
<!--   Story Menu   -->
<!-------------------->

	<div id="story-menu" class="animate-transition"></div>

<!-------------------->
<!--   Story Body   -->
<!-------------------->

	<div id="story-body" class="animate-transition"></div>

<!------------------>
<!--  Story Map   -->
<!------------------>

	<div id="story-map" >
		<div id="map-canvas"></div>
	</div>
	
<!-------------------->
<!--  content-nav   -->
<!-------------------->

	<div id="btn-show-posts" class="content-nav">
		<span  class="open-btn glyph-icon icon-medium flaticon-distance1"></span>
		<span  class="close-btn glyph-icon icon-medium flaticon-cross92"></span> 
	</div>
	<div id="btn-show-map" class="content-nav">
		<span  class="open-btn glyph-icon icon-medium flaticon-map35"></span> 
		<span  class="close-btn glyph-icon icon-medium flaticon-cross92"></span> 
	</div>

</section>

<!--------------->
<!--  Footer   -->
<!--------------->

<!-- <div class="grad-bar"></div> -->

<div id="footer">
	<!-- <div id="shadow-footer"></div>
	<div class="social-wrapper">
		<a class="social mail" href="mailto:feedback@@lostinreality.net?Subject=Feedback" target="_blank"></a>
		<a class="social facebook" href="https://www.facebook.com/pages/Lost-in-Reality-LiR/387253791289181"  target="_blank"></a>
		<a class="social twitter" href="https://twitter.com/LstnReality" target="_blank"></a>
	</div>
	<img id="footer-lir-logo" class="pull-right" src="/assets/images/lir-logo.png" alt="lir-logo"></img>
	<h2 id="footer-text-1">Lost in Reality</h2>
	<h4 id="footer-text-2">LISBOA - ZURICH</h4> -->
</div>

}