@(story: controllers.json.Story, location: String)

@main("") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/create.css")">

	<script src="/assets/javascripts/controls/create-view-handlers.js" type="text/javascript"></script>

}{

<script>
	var story = new Object();
	story.id = @story.id;
	story.title = "@story.title"
	story.summary = "@story.summary"
	story.published = ("@story.published" == "true") ? true : false;
	story.thumbnail = "@story.thumbnail"
	if ("@location".length > 0)
		story.location = JSON.parse("@location".replace(/&quot;/g,'"'));
	if ("@story.content".length > 0)
		story.content = JSON.parse("@story.content".replace(/&quot;/g,'"'));
</script>

<section id="content-wrapper">
	<div id="content-tools" class="btn-group-vertical">
		<a class="btn btn-default" id="toggle-text-size-btn" data-toggle="tooltip" data-placement="right" title="Toggle text size" onclick="toggleTextSize()"><span class="glyph icon-no-margins icon-20px flaticon-letter"/></a>
		<a class="btn btn-default" id="add-picture-btn" data-toggle="tooltip" data-placement="right" title="Add picture to a section."><span class="glyph icon-no-margins icon-20px flaticon-art"/>
			<form enctype="multipart/form-data" id="image-upload-form" class="image-upload-form">
				<input id="image-upload-input" name="profileImg[]" type="file" />
			</form>
		</a>
		<a class="btn btn-default" id="add-location-btn" data-toggle="tooltip" data-placement="right" title="Add location to a section." onclick="addLocationToCurrentSection()"><span class="glyph icon-no-margins icon-20px flaticon-location"/></a>
		<a class="btn btn-default" id="add-section-btn" data-toggle="tooltip" data-placement="right" title="Add a new section." onclick="addSectionAtCurrentPosition()" ><span class="glyph icon-no-margins icon-20px flaticon-add"/></a>
		<a class="btn btn-default" id="add-save-btn" data-toggle="tooltip" data-placement="right" title="Save story." onclick="saveStoryOnServer()"><span class="glyph icon-no-margins icon-20px flaticon-save"/></a>
	</div>
	<div id="story-header">
		<div id="story-container-and-thumbnail">
			<button id="hide-pane-btn" type="button" class="btn btn-default btn-no-background" onclick="closePublishPane()"><span class="glyph icon-no-margins icon-15px flaticon-close"/></button>
			<div id="placeholder-overlay" >
			</div>
			<div id="details-overlay" >
				<h1 id="story-title" class="title text-title-size" contenteditable="true"></h1>
				<div id="story-summary" contenteditable="true"></div>
				<div id="story-location"></div>
				<p id="story-status"></p>
				<div id="actions">
					<a id="add-cover-btn" class="btn btn-default">Add cover picture
						<form enctype="multipart/form-data" id="cover-upload-form" class="image-upload-form">
							<input id="cover-upload-input" name="profileImg[]" type="file" />
						</form>
					</a>
					<button id="remove-cover-btn" type="button" class="btn btn-primary" onclick="removeCover()">Remove cover</button>
					<button id="post-btn" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="This will make your story available to everyone." onclick="publishStory()">Publish</button>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="story-content"></div>
	</div>
</section>

<!-- Create Story Collections modal -->
<div id="story-details-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
				<h4 class="modal-title">All set?</h4>
				<div id="story-thumbnail-container">
					<img id="story-thumbnail">
					<div id="thumbnail-controls">
						<a id="prev-picture" onclick="previousThumbnailOnStoryDetailsModal()"><</a>
						<a id="next-picture" onclick="nextThumbnailOnStoryDetailsModal()">></a>
					</div>
				</div>
				<h4 id="story-title" type="text"></h4>
				<label for="story-description">Description</label>
				<textarea id="story-description" rows=4 type="text" placeholder="story description"></textarea>
				<label for="story-location">Location</label>
				<div id="story-location"></div>
				<label for="story-tags">Tags</label>
				<textarea id="story-tags" rows=1 type="text" placeholder="story tags"></textarea>
				<div class="checkbox">
					<label><input id="external-link-checkbox" onchange="toggleExternalLink()" type="checkbox" value="">Is this story published elsewhere?</label>
				</div>
				<input id="story-external-link" type="text" placeholder="external link" disabled>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

}
