@(story: controllers.json.Story, location: controllers.json.Location, edit: Boolean)

@main("") {

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
	<script src="/assets/javascripts/controls/index-view-handlers.js" type="text/javascript"></script>


	@if(story != null) {
		<title>LIR | @story.title</title>
		<meta name="description" content="@story.summary" />

		<!-- Twitter Card data -->
		<meta name="twitter:site" content="http://www.lostinreality.io/story/@story.id">
		<meta name="twitter:title" content="@story.title">
		<meta name="twitter:description" content="@story.summary">
		<meta name="twitter:image" content="http://www.lostinreality.io/uploads/images/@story.thumbnail">
		<!-- Open Graph data -->
		<meta property="og:title" content="@story.title" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://www.lostinreality.io/story/@story.id"/>
		<meta property="og:image" content="http://www.lostinreality.io/uploads/images/@story.thumbnail" />
		<meta property="og:description" content="@story.summary" />
	}

	@if(story == null && location != null) {
		<title>LIR | @location.name</title>

		<!-- Twitter Card data -->
		<meta name="twitter:site" content="http://www.lostinreality.io/@@@location.latitude,@location.longitude,@location.zoom">
		<meta name="twitter:title" content="LIR | @location.name">
		<!-- Open Graph data -->
		<meta property="og:title" content="LIR | @location.name" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://www.lostinreality.io/@@@location.latitude,@location.longitude,@location.zoom"/>

	}

	@if(story == null && location == null) {

		<title>LIR | location-based storytelling</title>
		<meta name="description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />

		<!-- Twitter Card data -->
		<meta name="twitter:site" content="http://www.lostinreality.io">
		<meta name="twitter:title" content="Lost in Reality">
		<meta name="twitter:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering.">
		<meta name="twitter:image" content="@routes.Assets.at("images/lir_front.jpg")">
		<!-- Open Graph data -->
		<meta property="og:title" content="Lost in Reality" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://www.lostinreality.io"/>
		<meta property="og:image" content="@routes.Assets.at("images/lir_front.jpg")" />
		<meta property="og:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />

	}

	<meta property="fb:app_id" content="1494692634127358" />

}{
	<!----------------->
	<!--   Content   -->
	<!----------------->

	<section id="content-wrapper">

		<div id="index-heros">
			<div id="heros-container">
				<div id="hero-1" class="hero-container" tab="1">
					<h1>Pick one place</h1>
					<div class="input-group">
			      <div class="input-group-btn">
			        <button class="btn btn-default ga-event-index-search" type="button"><span class="glyph icon-no-margins icon-15px flaticon-tool"></button>
			      </div>
						<input id="hero1-search-input" class="form-control ga-event-index-search" placeholder="Search for a place...">
			    </div>
					<div id="scroll-down-indicator">
						<div id="scroll-down-arrow">
							<span class="glyph icon-no-margins icon-40px flaticon-arrows-2">
						</div>
						<p><em>Or scroll down...</em></p>
					</div>
				</div>


				<div id="hero-2" class="hero-container" tab="2">
					<h1>Stories here, Stories there...</h1>
					<h4>
						Build a map with your favorite stories, your pictures and videos, and share them with friends.
						Check the stories and maps we picked for you.
					</h4>
					<div id="featured-stories-container" >
						<!-- <div class="lg-arrow-left"></div>
						<div class="lg-arrow-right"></div> -->
					</div>
				</div>


				<!-- <div id="hero-3" class="hero-container" tab="3">
					<h1>Save stories as you surf the web.</h1>
					<h4>
						Save articles from the web directly at your browser with the Web Clipper Chrome Extension.
						Clip any web page, youtube, vimeo and vine videos, instagrams, etc, and save them to your maps.<br>
						You can download it <a href="https://chrome.google.com/webstore/detail/lost-in-realitys-web-clip/mcmkieobolpjmddiobfhoaeceepnefih" >here</a>.
					</h4>
					<div id="web-clipper-banner" onclick="chrome.webstore.install()"></div>
				</div> -->


				<div id="hero-4" class="hero-container" tab="4">
					<h1>Sign up and spread the word.</h1>
					<div id="sign-up">
						<button id="sign-up-btn" type="button" class="btn btn-success btn-lg ga-event-navbar-signup">Sign up</button>
					</div>
					<div id="social">
						<a id="share-facebook-btn" href="https://www.facebook.com/pages/Lost-in-Reality-LiR/387253791289181" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-social-2"></a>
						<a id="share-twitter-btn" href="https://twitter.com/LstnReality" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-social-1"></a>
						<a id="share-email-btn" href="mailto:feedback@@lostinreality.pt?Subject=Feedback" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-internet"></a>
					</div>
				</div>


				<div id="hero-5" class="hero-container" tab="5">
					<h1>Ready? Pick one place.</h1>
					<div class="input-group">
			      <div class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyph icon-no-margins icon-15px flaticon-tool ga-event-index-search"></button>
			      </div>
						<input id="hero5-search-input" class="form-control ga-event-index-search" placeholder="Search for a place...">
			    </div>
					<div id="logo-hero"></div>
				</div>

			</div>
		</div>

		<!-------------------------------->
		<!--  Index Map & Stories  -->
		<!-------------------------------->

		<div id="index-map-and-stories-container">

			<!----------------------->
			<!--  Index Map   -->
			<!----------------------->

			<div id="index-map-container" >
				<div id="map-canvas"></div>
				<div id="map-viewport">
					<div id="map-sight"></div>
					<div id="map-region"></div>
				</div>
			</div>

			<!------------------------------->
			<!--  Index Map Details   -->
			<!------------------------------->

			<div id="index-map-details-container">
				<div id="index-thumbnail-container">
					<span class="glyph-icon icon-no-margins icon-20px flaticon-nature">
				</div>
				<p id="index-details-name"></p>
			</div>

			<!----------------------------->
			<!--  Search & Controls Bar  -->
			<!----------------------------->

			<div id="search-and-controls-bar">
				<div class="input-group">
					<input id="search-input" class="form-control ga-event-index-search" placeholder="Search for a place...">
					<div class="input-group-btn">
						<!-- <button id="search-btn" type="button" class="btn btn-success" onclick="searchBoxGetPlaces()"><span class="glyph icon-no-margins icon-15px flaticon-search"></button> -->
						<button id="zoom-in" type="button" class="btn btn-default" onclick="zoomInMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom in"><span class="glyph icon-no-margins icon-20px flaticon-multimedia"></button>
						<button id="zoom-out" type="button" class="btn btn-default" onclick="zoomOutMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom out"><span class="glyph icon-no-margins icon-20px flaticon-search"></button>
					</div>
				</div>
				<button id="create-story-btn" type="button" class="btn btn-default ga-event-index-createstory" data-toggle="tooltip" data-placement="left" title="Create a new story."><span class="glyph icon-no-margins icon-15px flaticon-draw"></button>
			</div>

			<!--------------->
			<!--  Stories  -->
			<!--------------->

			<div id="story-containers-wrapper">
				<div id="story-grid-layout"></div>
				<div id="story-large-layout">
					<!-- <div id="story-large-layout-controllers">
						<div class="lg-arrow-left"></div>
						<div class="lg-arrow-right"></div>
					</div> -->
					<div id="story-large-layout-container"></div>
				</div>

			</div>

		</div>
	</section>

	<!----------------------------------->
	<!--  Create Story Options Modal   -->
	<!----------------------------------->

	<!-- Create Story modal -->
	<div id="create-story-modal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body animate-transition">
					<div id="options">
						<h4 class="modal-title">Which type of story?</h4>
						<div id="single-story-opt-btn" class="div-btn" onclick="openCreateSingleStoryView()">
							<h4>One-Shot Story</h4>
							<p>A single location story for fast and short stories, memoires and notes.</p>
						</div>
						<div id="regular-story-opt-btn" class="div-btn" onclick="openCreateStoryView()">
							<h4>Story Article</h4>
							<p>A story with unlimited locations, in an article like format.</p>
						</div>
					</div>
	      </div>
	    </div>
	  </div>
	</div>

	<script type="text/javascript">
		var editingMode = ("@edit" == "true") ? true : false;
		var target = new Object();
		@if(location != null) {
			target.location = {
				latitude:@location.latitude,
				longitude:@location.longitude,
				zoom:@location.zoom
			}
		}
		@if(story != null) {
			target.storyid = @story.id;
		}
		openPageOnTarget(target);
	</script>
}
