@()

@main("") {
	<title>LIR | location-based storytelling</title>

	<meta name="description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />

	<!-- Twitter Card data -->
	<meta name="twitter:site" content="lostinreality.net">
	<meta name="twitter:title" content="Lost in Reality">
	<meta name="twitter:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering.">
	<meta name="twitter:image" content="@routes.Assets.at("images/lir_front.jpg")">

	<!-- Open Graph data -->
	<meta property="og:title" content="Lost in Reality" />
	<meta property="og:type" content="article" />
	<meta property="og:url" content="lostinreality.net"/>
	<meta property="og:image" content="@routes.Assets.at("images/lir_front.jpg")" />
	<meta property="og:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">

	<script src="/assets/javascripts/controls/index-view-handlers.js" type="text/javascript"></script>

}{
	<!----------------->
	<!--   Content   -->
	<!----------------->

	<section id="content-wrapper">

		<div id="index-heros">
			<div id="heros-container">
				<div id="hero-1" class="hero-container" tab="1">
					<h1>Pick one place</h1>
					<div class="input-group">
			      <div class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyph icon-no-margins icon-15px flaticon-tool-1"></button>
			      </div>
						<input id="hero1-search-input" class="form-control" placeholder="Search for a place...">
			    </div>
				</div>


				<div id="hero-2" class="hero-container" tab="2">
					<h1>Stories here, Stories there...</h1>
					<h4>
						Build a map with your favorite stories, your pictures and videos, and share them with friends.
						Check the stories and maps we picked for you.
					</h4>
					<div id="featured-stories-container" >
						<!-- <div class="lg-arrow-left"></div>
						<div class="lg-arrow-right"></div> -->
					</div>
				</div>


				<div id="hero-3" class="hero-container" tab="3">
					<h1>Tell stories as you surf the web.</h1>
					<h4>
						Save articles from the web directly from your browser with our clipper Chrome extension.
						You can clip youtube, vimeo and vine videos, instagrams and all the rest.
						You can download it here.
					</h4>
				</div>


				<div id="hero-4" class="hero-container" tab="4">
					<h1>Sign up and spread the word.</h1>
					<div id="sign-up">
						<button id="sign-up-btn" type="button" class="btn btn-success btn-lg">Sign up</button>
					</div>
					<div id="social">
						<button id="share-facebook-btn" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-social-3"></button>
						<button id="share-twitter-btn" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-social-2"></button>
						<button id="share-email-btn" type="button" class="btn btn-icon"><span class="glyph-icon icon-no-margins icon-40px flaticon-internet"></button>
					</div>
				</div>


				<div id="hero-5" class="hero-container" tab="5">
					<h1>Ready? Pick one place.</h1>
					<div class="input-group">
			      <div class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyph icon-no-margins icon-15px flaticon-tool-1"></button>
			      </div>
						<input id="hero5-search-input" class="form-control" placeholder="Search for a place...">
			    </div>
					<div id="logo-hero"></div>
				</div>

			</div>
		</div>

		<!-------------------------------->
		<!--  Index Map & Stories  -->
		<!-------------------------------->

		<div id="index-map-and-stories-container">

			<!----------------------->
			<!--  Index Map   -->
			<!----------------------->

			<div id="index-map-container" >
				<div id="map-canvas"></div>
				<div id="map-viewport">
					<div id="map-sight"></div>
					<div id="map-region"></div>
				</div>
			</div>

			<!------------------------------->
			<!--  Index Map Details   -->
			<!------------------------------->

			<div id="index-map-details-container">
				<div id="index-thumbnail-container">
					<span class="glyph-icon icon-no-margins icon-20px flaticon-nature">
				</div>
				<p id="index-details-name"></p>
			</div>

			<!----------------------------->
			<!--  Search & Controls Bar  -->
			<!----------------------------->

			<div id="search-and-controls-bar">
				<div class="input-group">
					<input id="search-input" class="form-control" placeholder="Search for a place...">
					<div class="input-group-btn">
						<!-- <button id="search-btn" type="button" class="btn btn-success" onclick="searchBoxGetPlaces()"><span class="glyph icon-no-margins icon-15px flaticon-search"></button> -->
						<button id="zoom-in" type="button" class="btn btn-default" onclick="zoomInMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom in"><span class="glyph icon-no-margins icon-15px flaticon-circle"></button>
						<button id="zoom-out" type="button" class="btn btn-default" onclick="zoomOutMap()" data-toggle="tooltip" data-placement="bottom" title="Zoom out"><span class="glyph icon-no-margins icon-15px flaticon-circle-1"></button>
					</div>
				</div>
				<button id="create-story" type="button" class="btn btn-default" onclick="openCreateStoryView()" data-toggle="tooltip" data-placement="left" title="Create a new story."><span class="glyph icon-no-margins icon-15px flaticon-draw"></button>
				<button id="connect-stories" type="button" class="btn btn-default" onclick="startConnectingStories()" data-toggle="tooltip" data-placement="left" title="Create a path, connecting stories."><span class="glyph icon-no-margins icon-15px flaticon-road-1"></button>
			</div>

			<!--------------->
			<!--  Stories  -->
			<!--------------->

			<div id="story-containers-wrapper">
				<div id="story-grid-layout"></div>
				<div id="story-large-layout">
					<div id="story-large-layout-controllers">
						<div class="lg-arrow-left"></div>
						<div class="lg-arrow-right"></div>
					</div>
					<div id="story-large-layout-container"></div>
				</div>

			</div>

		</div>
	</section>

	<!-------------------------------------------------->
	<!--  Create Collections /Add Stories/Add Users   -->
	<!-------------------------------------------------->

	<!-- Create Story Collections modal -->
	<div id="create-story-collection-modal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
					<h4 class="modal-title">Create Story Collection</h4>
					<input id="story-collection-title-input" type="text" placeholder="Collection title">
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" onclick="closeCreateCollectionView()">Close</button>
	        <button id="create-collection-btn" type="button" class="btn btn-primary">Create</button>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Choose Story Collections modal -->
	<div id="choose-story-collection-modal" class="modal fade">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
				<div class="modal-body"></div>
				<div class="modal-footer">
	        <button type="button" class="btn btn-default" onclick="closeChooseCollectionView()">Close</button>
	      </div>
			</div>
	  </div>
	</div>

	<!-- Add Users to Collections modal -->
	<div id="add-user-collection-modal" class="modal fade">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
				<div class="modal-body">
					<h4 class="modal-title">Find user</h4>
					<input id="user-email-input" type="text" placeholder="place user email">
					<button type="button" class="btn btn-default" onclick="lookForUser()">Search</button>
					<div class="list-group"></div>
					<p class="label">No user was found</p>
				</div>
				<div class="modal-footer">
	        <button type="button" class="btn btn-default" onclick="closeAddUserCollectionView()">Close</button>
	      </div>
			</div>
	  </div>
	</div>

}
