@()

<!DOCTYPE html>

<html>
    <head>

    <script>
      //var LIR_SERVER_URL = "http://localhost:9000";
      var LIR_SERVER_URL = "http://www.lostinreality.io"
      var PICTURES_SERVER_PATH = LIR_SERVER_URL + "/uploads/images/";
    </script>

    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/lir-logo.png")">
		<meta name="keywords" content="Story,Storytelling,Location-based Storytelling,Travel,Travel App,App">
		<script src="@routes.Assets.at("javascripts/jquery-1.12.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("flexigrid/js/flexigrid.pack.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("jquery-ui-1.11.4/jquery-ui.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-3.3.6/js/bootstrap.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("bootstrap-3.3.6/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("formplugin/js/jquery.form.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jshashtable-3.0.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/jquery.json-2.4.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/studs/serverconnector.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/dropzone.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/googleAnalyticsTracker.js")" type="text/javascript"></script>

		<!-- stylesheets -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("jquery-ui-1.11.4/jquery-ui.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("flexigrid/css/flexigrid.pack.css")">
		<link rel="stylesheet" href="@routes.Assets.at("jQuery-File-Upload-9.5.4/css/jquery.fileupload.css")">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.6/css/bootstrap.min.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.6/css/bootstrap.css")">
		<!-- <link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap-3.3.6/css/bootstrap-theme.min.css")"> -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/animations.css")">

		<!-- icon font -->
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flaticon.css")">


		<!-- Specific Css and JS -->
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index-mobile.css")">
		<script src="/assets/javascripts/controls/index-mobile-view-handlers.js" type="text/javascript"></script>


		<title>LIR | location-based storytelling</title>
		<meta name="description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />

		<!-- Twitter Card data -->
		<meta name="twitter:site" content="http://www.lostinreality.io">
		<meta name="twitter:title" content="Lost in Reality">
		<meta name="twitter:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering.">
		<meta name="twitter:image" content="@routes.Assets.at("images/lir_front.jpg")">
		<!-- Open Graph data -->
		<meta property="og:title" content="Lost in Reality" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://www.lostinreality.io"/>
		<meta property="og:image" content="@routes.Assets.at("images/lir_front.jpg")" />
		<meta property="og:description" content="Explore the places around you with a map of stories. Sign up, download the app and start discovering." />


		<meta property="fb:app_id" content="1494692634127358" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

	</head>
	<body>

		<div id="banner-intro"></div>

		<div id="banner-app">
			<span class="close-btn glyph-icon icon-no-margins icon-no-padding icon-15px flaticon-cross" onclick="hideAppBanner()"></span>
			<div id="banner-app-logo"></div>
			<p>Download the app:</p>
			<a class="btn btn-success" href="/">APP</a>
		</div>

		<div id="stories-list" class="animate-transition"></div>

	</body>
</html>
