@(user: controllers.json.User)

@main("") {

	<title>LIR | @user.fullName's profile</title>

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">

	<script src="/assets/javascripts/controls/profile-view-handlers.js" type="text/javascript"></script>

	<script>
		var userNumberId = @user.numberId;
	</script>

}{

<!----------------->
<!--   Content   -->
<!----------------->

<section id="content-wrapper">

	<!----------------------->
	<!--  Profile Details  -->
	<!----------------------->

	<div id="profile-details-container">
		<div id="profile-container" class="center-block">
			<div id="profile-image-container" >
				<img id="profile-image"/>
			</div>
			<div id="profile-name-container" >
				<h1 id="profile-name"></h1>
				<button id="profile-edit-details-btn" class="btn btn-default" onclick="openProfileSettingsView()">EDIT PROFILE</button>
			</div>
			<div id="profile-stats-container" >
				<p id="profile-stat-user-created"><span id="value"></span> Created</p>
				<p id="profile-stat-user-saved" ><span id="value"></span> Saved</p>
				<p id="profile-stat-user-followers" ><span id="value"></span> Followers</p>
				<p id="profile-stat-user-folllowing" ><span id="value"></span> Following</p>
			</div>
		</div>
	</div>

	<!-------------------->
	<!--  Profile Map   -->
	<!-------------------->

	<div id="profile-map-container" >
		<input id="profile-location-input" class="controls" type="text" placeholder="Search Box">
		<div id="profile-map-cover-left"></div>
		<div id="profile-map-canvas"></div>
		<div id="profile-map-cover-right"></div>
	</div>

	<!------------------------>
	<!--  Location Banner   -->
	<!------------------------>
	<!-- <div id="profile-location-banner">
		<input id="profile-location-input" class="controls" type="text" placeholder="Search Box">
	</div> -->


	<!------------------------>
	<!--  Profile Stories   -->
	<!------------------------>

	<div id="stories-container" class="animate-transition">
		<div id="change-stories-view-btn-group" class="btn-group">
			<button id="stories-list-view-btn" class="btn active btn-default">List</button>
			<button id="stories-map-view-btn" class="btn btn-default">Map</button>
		</div>
		<div id="stories-list-view" >
			<div id="stories-list-view-left-container" >
			</div>
			<div id="stories-list" ></div>
			<div id="no-stories-message">
				<p>There are no stories here.</p>
			</div>
		</div>
	</div>
</section>

<!-- Profile settings modal -->
<div id="profile-settings-view" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
			<div class="modal-body">
				<div id="profile-image-container" >
					<img id="profile-image"/>
				</div>
				<div id="profile-name-container" >
					<input id="profile-name" type="text">
					<button id="profile-change-picture-button" class="btn btn-default">Change image
						<form enctype="multipart/form-data" id="image-upload-form">
							<input id="f" name="profileImg[]" type="file" />
						</form>
					</button>
				</div>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeProfileSettingsView()">Close</button>
				<button type="button" class="btn btn-primary" onclick="saveProfileSettings()">Save</button>
      </div>
		</div>
  </div>
</div>

}
