

@main("LIR | Profile") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/profile.css")">

	<script src="/assets/javascripts/controls/profile-view-handlers.js" type="text/javascript"></script>

}{

<!----------------->
<!--   Content   -->
<!----------------->

<section id="content-wrapper">

	<!----------------------->
	<!--  Profile Details  -->
	<!----------------------->

	<div id="profile-details-container">
		<div id="profile-container" class="center-block">
			<div id="profile-image-container" >
				<img id="profile-image"/>
			</div>
			<div id="profile-name-container" >
				<h1 id="profile-name"></h1>
				<button id="profile-edit-details-btn" class="btn btn-default">EDIT PROFILE</button>
			</div>
			<div id="profile-stats-container" >
				<p id="profile-stat-user-created"><span id="value"></span> Created</p>
				<p id="profile-stat-user-saved" ><span id="value"></span> Saved</p>
				<p id="profile-stat-user-followers" ><span id="value"></span> Followers</p>
				<p id="profile-stat-user-folllowing" ><span id="value"></span> Following</p>
			</div>
		</div>
	</div>

	<!------------------------>
	<!--  Profile Stories   -->
	<!------------------------>

	<div id="stories-container">
		<div id="change-stories-view-btn-group" class="btn-group">
			<button id="stories-list-view-btn" class="btn active btn-default">List</button>
			<button id="stories-map-view-btn" class="btn btn-default">Map</button>
		</div>
		<div id="stories-list-view" >
			<div id="stories-list" ></div>
			<div id="no-stories-message">
				<p>There are no stories here.</p>
			</div>
		</div>
		<div id="stories-map-view" >
			<input id="location-input" claas="controls" type="text" placeholder="Search Box">
			<div id="map-canvas"></div>
			<div id="story-details-container" ></div>
		</div>
	</div>

</section>

<!------------------------------------->
<!--  Create/Edit/Open Story view   -->
<!------------------------------------->

<div id="create-edit-open-story-view" class="modal fade">
	<div class="modal-dialog">
		<div id="create-story-container" class="modal-content">
			<div class="story-container-header">
				<div class="author-container">
					<div id="user-thumbnail" class='story-author-thumbnail'></div>
					<span id="story-username" class='story-author-name'></span>
				</div>
				<div class="location-container pull-right" onclick="showStoryMap()"/>
					<div class="pull-left"><span class="glyph-icon icon-no-margins icon-15px flaticon-facebook30"></div>
					<a class="location">Select location</a>
				</div>
			</div>
			<div class="story-container-body">
				<div id="story-text" class="editable" contenteditable="true" placeholder="write your story" ></div>
				<div id="story-image-container">
					<button id="remove-story-image" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<img id="story-image">
				</div>
				<div id="story-insert-article">
					<input id="article-link" placeholder="article link">
					<button id="close-article-link" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
			</div>
			<div class='story-set-location-view-container'>
				<a id="return-story-edit" onclick="hideStoryMap()">< go back</a>
				<input id="story-map-location-input" claas="controls" type="text" placeholder="Search Box">
				<div class='story-map-container'>
					<div id="story-map-canvas"></div>
					<div id="story-map-sight">
						<div id="story-map-sight-dot"></div>
					</div>
				</div>
				<button id="set-location-btn" type="button" class="btn btn-default btn-block" onclick="selectStoryLocation()">Select story location</button>
			</div>
			<div id="create-story-options" class="story-container-footer">
				<a id="story-cancel-create-button" class="btn" onclick="closeStoryView()">cancel</a>
				<a id="story-add-link-button" class="btn" >add link</a>
				<a id="story-add-picture-button" class="btn">add image
					<form enctype="multipart/form-data" id="image-upload-form">
						<input id="f" name="profileImg[]" type="file" />
					</form>
				</a>
				<a id="story-publish-button" class="btn btn-primary ga-event-map-publish" onclick="createStory()">Post</a>
				<a id="close-story-view" class="btn" onclick="closeStoryView()">Close</a>
			</div>
		</div>
	</div>
</div>



}
