@(story: controllers.json.Story)

@main("") {
	<title>LIR | Story</title>

	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/story.css")">

	<script src="/assets/javascripts/controls/story-view-handlers.js" type="text/javascript"></script>

}{

<!----------------->
<!--   Content   -->
<!----------------->

<section id="content-wrapper">



	<!--------------->
	<!--   Story   -->
	<!--------------->

	<div id="story-view" >
		<div id="story-map-view">
			<div id="story-map-canvas"></div>
		</div>
	</div>


<!------------------------------------->
<!--  Story Collections  -->
<!------------------------------------->

<!-- Create Story Collections modal -->
<div id="create-story-collection-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
				<h4 class="modal-title">Create Story Collection</h4>
				<input id="story-collection-title-input" type="text" placeholder="Collection title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeCreateCollectionView()">Close</button>
        <button id="create-collection-btn" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Choose Story Collections modal -->
<div id="choose-story-collection-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<div class="modal-body"></div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeChooseCollectionView()">Close</button>
      </div>
		</div>
  </div>
</div>

<!-- Add Users to Collections modal -->
<div id="add-user-collection-modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<div class="modal-body">
				<h4 class="modal-title">Find user</h4>
				<input id="user-email-input" type="text" placeholder="place user email">
				<button type="button" class="btn btn-default" onclick="lookForUser()">Search</button>
				<div class="list-group"></div>
				<p class="label">No user was found</p>
			</div>
			<div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeAddUserCollectionView()">Close</button>
      </div>
		</div>
  </div>
</div>

}
